
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

.u-text a {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
}

.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a {
	color: inherit;
}

.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
	text-decoration: none;
}

.u-link,
a {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.u-link {
	display: table;
	border-style: solid;
	border-bottom-width: 0;
	white-space: nowrap;
	align-self: flex-start;
}

.u-link,
.u-link:hover,
.u-link:focus {
	text-decoration: none;
}

.u-link:focus,
.u-link:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}




a:hover {
	color: #0676a4;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.u-clearfix:after,
.u-clearfix:before {
	content: '';
	display: table;
}

.u-clearfix:after {
	clear: both;
}

.u-image {
	object-fit: cover;
	display: block;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.u-layout-cell.u-image {
	overflow: visible;
}

.u-sheet {
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.u-sheet {
		width: 1140px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.u-sheet {
		width: 940px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-sheet {
		width: 720px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-sheet {
		width: 540px;
	}
}

@media (max-width: 575px) {
	.u-sheet {
		width: 340px;
	}
}

.u-container-layout {
	position: relative;
	flex: 1;
	max-width: 100%;
}

.u-container-layout>* {
	position: relative;
}

.u-expanded-width {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

@media (max-width: 575px) {
	.u-expanded-width-xs {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.u-valign-middle {
	display: flex;
	flex-direction: column;
}

.u-valign-middle>* {
	flex-shrink: 0;
}

.u-valign-middle {
	justify-content: center;
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout-row>* {
		min-width: 100%;
	}
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}
}

@media (max-width: 575px) {
	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row>* {
		min-width: 100%;
	}
	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}
}

.u-layout-row>.u-size-60 {
	flex: 0 0 100%;
	max-width: 100%;
	min-width: 100%;
}

.u-layout-row>.u-size-31 {
	flex: 0 0 51.66666667%;
	max-width: 51.66666667%;
	min-width: 51.66666667%;
}

.u-layout-row>.u-size-30 {
	flex: 0 0 50%;
	max-width: 50%;
	min-width: 50%;
}

.u-layout-col>.u-size-30 {
	flex: 30 0 50%;
}

.u-layout-row>.u-size-29 {
	flex: 0 0 48.33333333%;
	max-width: 48.33333333%;
	min-width: 48.33333333%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-layout-row>.u-size-60-md {
		flex: 0 0 100%;
		max-width: 100%;
		min-width: 100%;
	}
}

.u-gutter-30 .u-layout {
	margin: -15px;
}

.u-gutter-30 .u-layout .u-layout-cell {
	border: 15px solid transparent;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.u-layout-col>* {
		flex-basis: auto !important;
	}
}

.u-layout-col,
.u-layout-row,
.u-layout-col>* {
	display: flex;
}

.u-layout-col,
.u-layout-row {
	flex: 1 1 100%;
}

.u-layout-row>* {
	max-height: 100%;
	min-height: -webkit-fit-content;
	min-height: fit-content;
}

.u-layout-col>* {
	min-height: -webkit-fit-content;
	min-height: fit-content;
	max-width: 100%;
}

.u-layout-col {
	flex-direction: column;
	min-height: 100%;
}

.u-layout-row {
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100%;
	max-width: 100%;
}

.u-layout-cell {
	position: relative;
	display: flex;
	background-clip: padding-box;
	background-origin: padding-box;
}

.u-sheet:not(.u-image):not(.u-video) {
	pointer-events: none;
}

.u-sheet:not(.u-image):not(.u-video)>* {
	pointer-events: auto;
	pointer-events: initial;
}

@supports (position: sticky) {}

@supports (position: -webkit-sticky) {}

.u-group .u-container-layout>* {
	position: relative;
}

.u-group {
	display: flex;
}

.u-icon {
	display: block;
	line-height: 0;
	border-width: 0px;
}

.u-icon-circle {
	border-radius: 50%;
}


.u-body {
	font-size: 1rem;
	line-height: 1.6;
}

.u-body h4 {
	padding: 0;
}

h4 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	line-height: 1.2;
	font-weight: 500;
	color: inherit;
}

h4 {
	font-size: 1.25rem;
}



.u-align-left {
	text-align: left;
}

.u-align-center {
	text-align: center;
}

.u-container-style:not([class*="u-align-"]) {
	text-align: left;
}

.u-text {
	word-wrap: break-word;
	position: relative;
}

.u-layout-cell {
	background-color: transparent !important;
	opacity: 1;
}

.u-layout-cell:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.u-body {
	font-family: 'Open Sans', sans-serif;
}

h4 {
	font-family: Roboto, sans-serif;
}

.u-image {
	color: #111111;
}

.u-body {
	color: #111111;
	background-color: #ffffff;
}

.u-custom-font.u-heading-font {
	font-family: Roboto, sans-serif !important;
}

.u-palette-1-light-3 {
	color: #111111;
	/* background-color: #e9f2fa; */
}

.u-white,
.u-container-style.u-white:before {
	color: #111111;
	background-color: #ffffff;
}

.u-black,
.u-container-style.u-black:before {
	color: #ffffff;
	background-color: #000000;
}

.u-text-palette-1-base {
	color: #478ac9 !important;
}

.u-text-palette-1-base svg {
	fill: #478ac9;
}

h4 {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 20px;
}

p:not(.u-text-variant) {
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	color: #478ac9;
}

a:hover {
	color: #387cbd;
}

.u-black a {
	color: #adcce9;
}

.u-black a:hover {
	color: #a1a1a1;
}

html {
	font-size: 16px;
}

.u-section-6 {
	background-image: none;
}

.u-section-6 .u-sheet-1 {
	min-height: 485px;
}

.u-section-6 .u-layout-wrap-1 {
	margin: 70px auto 44px 0;
}

.u-section-6 .u-image-1 {
	min-height: 674px;
	background-image: url("images/d2a86e6592da30d41eecfb9ff1be32d2.jpeg");
	background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-group-1 {
	width: 414px;
	min-height: 73px;
	margin-top: 571px;
	margin-right: auto;
	margin-left: 0;
	background-image: none;
}

.u-section-6 .u-container-layout-2 {
	padding-left: 20px;
	padding-right: 20px;
}

.u-section-6 .u-text-1 {
	position: relative;
	margin: 5px 0;
}

.u-section-6 .u-layout-cell-2 {
	background-image: none;
	min-height: 344px;
}

.u-section-6 .u-container-layout-3 {
	padding-left: 0;
	padding-right: 0;
}
.u-section-6 .u-container-layout-3:hover {
background-color: red !important;
}
.u-section-6 .u-icon-1 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-link-1 {
	margin: 29px auto 30px;
}

.u-section-6 .u-layout-cell-3 {
	background-image: none;
	min-height: 344px;
}

.u-section-6 .u-container-layout-4 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-2 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-link-2 {
	margin: 29px auto 30px;
}

.u-section-6 .u-layout-cell-4 {
	min-height: 330px;
	background-image: none;
}

.u-section-6 .u-container-layout-5 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-3 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-layout-cell-5 {
	min-height: 330px;
	background-image: none;
}

.u-section-6 .u-container-layout-6 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-4 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
	position: relative;
	margin: 30px 20px 0;
}

@media (max-width: 1199px) {
	.u-section-6 .u-layout-wrap-1 {
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-6 .u-group-1 {
		width: 341px;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 16px;
		padding-right: 16px;
	}
	.u-section-6 .u-icon-1 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 16px;
		margin-right: 16px;
	}
	.u-section-6 .u-icon-2 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 16px;
		margin-right: 16px;
	}
	.u-section-6 .u-icon-3 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 16px;
		margin-right: 16px;
	}
	.u-section-6 .u-icon-4 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media (max-width: 991px) {
	.u-section-6 .u-group-1 {
		width: 367px;
		margin-bottom: 0;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 13px;
		padding-right: 13px;
	}
	.u-section-6 .u-icon-1 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 13px;
		margin-right: 13px;
	}
	.u-section-6 .u-icon-2 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 13px;
		margin-right: 13px;
	}
	.u-section-6 .u-icon-3 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 13px;
		margin-right: 13px;
	}
	.u-section-6 .u-icon-4 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 13px;
		margin-right: 13px;
	}
}

@media (max-width: 767px) {
	.u-section-6 .u-group-1 {
		width: 323px;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 9px;
		padding-right: 9px;
	}
	.u-section-6 .u-icon-1 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 9px;
		margin-right: 9px;
	}
	.u-section-6 .u-icon-2 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 9px;
		margin-right: 9px;
	}
	.u-section-6 .u-icon-3 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 9px;
		margin-right: 9px;
	}
	.u-section-6 .u-icon-4 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 9px;
		margin-right: 9px;
	}
}

@media (max-width: 575px) {
	.u-section-6 .u-group-1 {
		margin-right: initial;
		margin-left: initial;
		width: auto;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 6px;
		padding-right: 6px;
	}
	.u-section-6 .u-icon-1 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 6px;
		margin-right: 6px;
	}
	.u-section-6 .u-icon-2 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 6px;
		margin-right: 6px;
	}
	.u-section-6 .u-icon-3 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 6px;
		margin-right: 6px;
	}
	.u-section-6 .u-icon-4 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 6px;
		margin-right: 6px;
	}
}