.dw_sec_7 h2,
h1 {
  font-family: HelveticaNeueLTPro-MdCn;
}
.dw_sec_1,
.dw_sec_2 {
  background-position: center;
  background-repeat: no-repeat;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
h1 {
  font-size: 44px;
  text-transform: uppercase;
}
.dw_sec_1 {
  background-image: url(./../../assets/bg_01-829fc61c57.jpg);
  width: 100%;
  height: 528px;
  color: #fff;
}
.dw_sec_1 .container {
  width: 1190px;
  margin: 0 auto;
  padding-top: 160px;
  text-align: left;
}
.dw_sec_1 h1,
.dw_sec_2 h1 {
  margin-bottom: 30px;
}
.dw_sec_1 a {
  width: 205px;
  border: 1px solid #fff;
  border-radius: 10px;
  height: 55px;
  line-height: 55px;
  display: block;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.dw_sec_2 {
  background-image: url(./../../assets/door_bg2-345799d15d.jpg);
  color: #333;
  width: 100%;
  height: 950px;
  text-align: center;
}
.dw_sec_3,
.dw_sec_4 {
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
}
.dw_sec_2 h1 {
  padding-top: 115px;
}
.normal_p {
  font-size: 22px;
}
.dt_pic {
  background-image: url(https://static.orvibo.com/html/images/products/suite/door_pics.png);
  background-repeat: no-repeat;
}
.dw_sec_2 .dt_pic {
  background-position: 0 0;
  width: 321px;
  height: 325px;
  margin: 68px auto 0;
}
.dw_sec_3 {
  background-image: url(./../../assets/door_bg3-77d3b830aa.jpg);
  background-position: center;
  width: 100%;
  height: 950px;
}
.dw_sec_3 h1 {
  padding-top: 200px;
  margin-bottom: 25px;
}
.dw_sec_3 .dt_pic {
  background-position: -328px 0;
  width: 382px;
  height: 60px;
  margin: 72px auto 20px;
}
.dw_sec_3 .txt {
  width: 448px;
  margin: 0 auto;
  padding-left: 37px;
}
.dw_sec_3 .txt > p {
  float: left;
  font-size: 18px;
}
.dw_sec_4 {
  background-image: url(./../../assets/door_bg5-cd6ebfcb72.jpg);
  background-position: center;
  width: 100%;
  height: 950px;
}
.dw_sec_4 h1 {
  padding-top: 223px;
  margin-bottom: 20px;
}
.dw_sec_4 .dt_icons {
  width: 600px;
  background-position: 0 0;
  height: 60px;
  margin: 80px auto 15px;
  background-image: url(./../../assets/icons_03-c4b5dde79d.png);
  background-repeat: no-repeat;
}
.dw_sec_4 .txt {
  width: 706px;
  margin: 0 auto;
}
.dw_sec_5,
.dw_sec_6 {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
  color: #fff;
  text-align: center;
}
.dw_sec_4 .txt > p {
  float: left;
  font-size: 18px;
}
.dw_sec_5 {
  background-image: url(./../../assets/door_bg4-7eb9975eb3.jpg);
}
.dw_sec_5 h1 {
  padding-top: 339px;
  margin-bottom: 10px;
}
.dw_sec_6 {
  background-image: url(./../../assets/door_bg6-86721dd45a.jpg);
}
.dw_sec_6 h1 {
  padding-top: 170px;
  margin-bottom: 20px;
}
.dw_sec_6 .dt_pic {
  background-position: -342px -74px;
  width: 450px;
  height: 301px;
  margin: 90px auto 0;
}
.dw_sec_7 {
  width: 100%;
  height: 950px;
  background: #f7f7f7;
}
.dw_sec_7 h2 {
  font-size: 30px;
  color: #333;
  text-align: center;
  padding-top: 200px;
}
.dw_sec_7 .dn_icons {
  width: 550px;
  margin: 110px auto 0;
}
.dw_sec_7 .one > div {
  background-position: -281px 0;
}
.dw_sec_7 .two > div {
  background-position: -161px 0;
}
.dw_sec_7 .three > div {
  background-position: -221px 0;
}
.dw_sec_7 .dn_icons .dn_icon {
  width: 33.333333333333%;
  float: left;
  text-align: center;
}
.dw_sec_7 .dn_icons .dn_icon div {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  background-image: url(./../../assets/door_icons-ad47bfaed8.png);
  background-repeat: no-repeat;
}
.dw_sec_7 a {
  width: 210px;
  border: 0;
  border-radius: 30px;
  background: #12cd3e;
  color: #fff;
  display: block;
  margin: 145px auto 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dw_sec_8 {
  padding-bottom: 167px;
}
.dt_container {
  height: auto;
  padding-top: 90px;
  text-align: center;
  width: 1150px;
  margin: 0 auto;
}
.dt_container .dt_title {
  font-size: 30px;
  color: #231815;
  margin-bottom: 60px;
}
.dt_container .dt_line {
  background-image: url(./../../assets/dt_line-1f148f3dc9.jpg);
  background-repeat: no-repeat;
  width: 1150px;
  height: 9px;
  background-position: center;
  margin: 0 auto;
}
.dt_container .dt_content_title {
  float: left;
  width: 100%;
  height: auto;
  padding: 24px 0 0;
}
.dt_container .dt_content_title > p {
  font-size: 18px;
  color: #333;
  float: left;
  padding-left: 90px;
}
.dt_content_title .icon {
  background-position: -417px 0;
  background-image: url(./../../assets/door_icons-ad47bfaed8.png);
  background-repeat: no-repeat;
  width: 139px;
  margin: 0 auto;
  height: 180px;
}
.dt_table > div {
  width: 50%;
  float: left;
}
.dt_table > div p {
  text-align: left;
  padding-left: 92px;
  line-height: 60px;
  color: #333;
  font-size: 16px;
}
.dt_table > div p em {
  color: #888;
  font-size: 18px;
}
.dw_sec_9 {
  background-image: url(./../../assets/bg_07-a509b02087.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  width: 100%;
  height: 950px;
  text-align: center;
}
.dw_sec_9 h1 {
  padding-top: 75px;
  margin-bottom: 35px;
}
