.clear:after {
  display: block;
  clear: both;
  content: "\0020";
  visibility: hidden;
  height: 0;
}

.pdbuy_center {
  width: 1150px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.pdbuy_center {
  height: 120px;
}

.pd_buy {
  background-color: #12cd3e;
}

.pdbc_buyLeft {
  float: left;
  height: 120px;
  line-height: 120px;
  font-size: 30px;
  font-family: "宋体", arial;
  color: #fff;
}

.pdbc_buyRight {
  float: right;
  height: 49px;
  margin-top: 37px;
}

.free_model {
  position: relative;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

.upper,
div[class^="xo_sec"] h1 {
  text-transform: uppercase;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

div[class^="xo_sec"] .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

div[class^="xo_sec"] img.phone {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

div[class^="xo_sec"] .descrip {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

div[class^="xo_sec"] img.animateUp {
  animation: fadeInUp 1s 0.6s ease both;
  -webkit-animation: fadeInUp 1s 0.6s ease both;
  -moz-animation: fadeInUp 1s 0.6s ease both;
}

.xo_sec_1 {
  width: 100%;
  height: 879px;
  overflow: hidden;
  position: relative;
}

.xo_sec_1 .bg_left {
  z-index: 11;
  position: absolute;
}

.xo_sec_1 .bg_right {
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_01r-4cc03ca6a7.jpg);
  background-repeat: no-repeat;
  color: #fff;
  background-position: center;
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  width: 1258px;
  height: 879px;
  z-index: 10;
  text-align: center;
}

.xo_sec_1 h1 {
  font-size: 44px;
  padding-top: 300px;
}

.xo_sec_1 .f_p {
  font-size: 22px;
  margin: 25px 0 60px;
}

.xo_sec_1 .cont {
  font-size: 14px;
}

.xo_sec_1 .f_content {
  position: absolute;
  width: 480px;
  left: 45%;
  top: 0;
  z-index: 11;
  color: #fff;
  text-align: center;
}

.font_sans {
  font-family: "Source Sans Pro";
}

.xo_sec_2,
.xo_sec_3,
.xo_sec_4,
.xo_sec_5,
.xo_sec_6,
.xo_sec_7 {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.xo_sec_2 {
  height: 987px;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_02-ee2512637d.jpg);
}

.xo_sec_2 .cont {
  margin-left: 43%;
}

.xo_sec_2 .cont p {
  padding-top: 620px;
}

.xo_sec_3 {
  height: 987px;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_03-dedbad5097.jpg);
}

.xo_sec_3 .phone {
  right: 0;
  bottom: -1px !important;
}

.xo_sec_3 p {
  padding-top: 600px;
  padding-left: 50px;
}

.xo_sec_4 {
  height: 987px;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_04-5dcfb5cc91.jpg);
}

.xo_sec_4 p {
  padding-top: 673px;
  color: #333 !important;
}

.xo_sec_4 .cont {
  margin-left: 40%;
}

.xo_sec_5 {
  height: 987px;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_05-f034945aaa.jpg);
  color: #fff;
  text-align: center;
}

.xo_sec_5 h1 {
  padding-top: 112px;
  margin-bottom: 45px;
  font-size: 46px;
  font-family: Arial, "Times New Roman";
  font-weight: 500;
}

.xo_sec_5 p,
.xo_sec_6 p {
  font-size: 24px;
}

.xo_sec_5 .phone {
  right: 0;
}

.xo_sec_6 {
  height: 953px;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_06-71ec1abdae.jpg);
  color: #fff;
  text-align: center;
}

.xo_sec_6 h1 {
  padding-top: 362px;
  margin-bottom: 84px;
}

.xo_sec_7 {
  height: 950px;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_07-d29d5b3d4e.jpg);
  color: #fff;
  position: relative;
}

.xo_sec_7 .tp_title {
  font-size: 46px;
  padding-top: 177px;
  text-align: center;
  margin-bottom: 177px;
}

.xo_sec_7 .tp_content {
  width: 1190px;
  margin: 0 auto;
}

.xo_sec_7 .tp_content .tp_item {
  float: left;
  width: 20%;
  position: relative;
}

.xo_sec_7 .tp_content div.tp_item div.tc_img,
.xo_sec_7 .tp_content div.tp_item div.ti_circle {
  background: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/smc_icons-7b765fe7ec.png)
    center center no-repeat;
}

.xo_sec_7 .tp_content div.tp_item div.ti_circle {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  transform: rotate(-60deg);
}

.xo_sec_7 .tp_content div.tp_item.one div.ti_circle {
  background-position: -137px -65px;
}

.xo_sec_7 .tp_content div.tp_item.two div.ti_circle {
  background-position: 0 -67px;
}

.xo_sec_7 .tp_content div.tp_item.three div.ti_circle {
  background-position: -273px -67px;
}

.xo_sec_7 .tp_content div.tp_item.four div.ti_circle {
  background-position: -562px -82px;
}

.xo_sec_7 .tp_content div.tp_item.five div.ti_circle {
  background-position: -416px -71px;
}

.xo_sec_7 .tp_content div.tp_item div.tc_img {
  position: absolute;
  left: 50%;
}

.xo_sec_7 .tp_content div.tp_item.one div.tc_img {
  width: 61px;
  height: 60px;
  top: 35px;
  margin-left: -30px;
  background-position: -608px 0;
}

.xo_sec_7 .tp_content div.tp_item.two div.tc_img {
  width: 60px;
  height: 51px;
  top: 40px;
  margin-left: -30px;
  background-position: -368px 0;
}

.xo_sec_7 .tp_content div.tp_item.three div.tc_img {
  width: 60px;
  height: 38px;
  top: 46px;
  margin-left: -30px;
  background-position: -548px 0;
}

.xo_sec_7 .tp_content div.tp_item.four div.tc_img {
  width: 40px;
  height: 60px;
  top: 35px;
  margin-left: -20px;
  background-position: -37px 0;
}

.xo_sec_7 .tp_content div.tp_item.five div.tc_img {
  width: 76px;
  height: 60px;
  top: 35px;
  margin-left: -37px;
  background-position: center;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/icon_05-7666b02b4c.png) !important;
}

.xo_sec_7 .tp_content div.tp_item p {
  margin-top: 42px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.xo_sec_7 a.tp_arrow {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 38px;
  height: 20px;
  width: 41px;
  margin-left: -20px;
  animation: mymove 1s infinite;
  -webkit-animation: mymove 1s infinite;
  background: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/smc_icons-7b765fe7ec.png) -117px
    0 no-repeat;
}

.xo_sec_8 {
  background: #fff;
  padding: 0 0 110px;
}

.dt_container {
  height: auto;
  padding-top: 90px;
  text-align: center;
  width: 1150px;
  margin: 0 auto;
}

.dt_container .dt_title {
  font-size: 46px;
  color: #231815;
  margin-bottom: 60px;
}

.dt_container .dt_line {
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/doorWindow/dt_line-1f148f3dc9.jpg);
  background-repeat: no-repeat;
  width: 1150px;
  height: 9px;
  background-position: center;
  margin: 0 auto;
}

.dt_container .dt_content_title {
  float: left;
  width: 100%;
  height: auto;
  padding: 30px 0 0;
}

.dt_container .dt_content_title > p {
  font-size: 18px;
  color: #333;
  float: left;
  padding-left: 90px;
  font-family: "å¾®è½¯é›…é»‘";
  font-weight: 700;
}

.dt_table > div.dt_left {
  width: 55%;
  float: left;
}

.dt_table > div.dt_right {
  width: 45%;
  float: left;
}

.dt_table > div p {
  text-align: left;
  padding-left: 92px;
  line-height: 60px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.dt_table > div p em {
  color: #888;
  font-size: 18px;
  font-weight: 500;
}

.dt_container .dt_content_title .product {
  width: 410px;
  margin: 0 auto;
}

.dt_container .dt_content_title .product > div {
  float: left;
}

.xo_sec_9 {
  width: 100%;
  height: 950px;
  overflow: hidden;
  background-image: url(//static.orvibo.com/guanwang_second/front/en/images/xiaoou/bg_08-4040004653.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
  text-align: center;
}

.xo_sec_9 h1 {
  padding-top: 86px;
  margin-bottom: 40px;
  font-size: 46px;
}

.xo_sec_9 p {
  font-size: 16px;
}
