.clear:after {
	visibility: hidden
}

.clear:after {
	display: block;
	clear: both;
	content: '\0020';
	height: 0
}


.kaihe_sec1 h1,
.kaihe_sec1 h2,
.kaihe_sec2 .item p.title,
.kaihe_sec2 h2 {
	font-weight: 900;
	color: #111
}

.kaihe_sec1 {
	height: 8em;
	width: 100%;
	background: url(img/bg1-8023289d8a.jpg) center no-repeat;
	background-size: cover;
	text-align: center
}

.kaihe_sec1 h1 {
	font-size: .48em;
	padding-top: 4.4em
}

.kaihe_sec1 h2 {
	font-size: .3em;
	margin-top: .33em
}

.kaihe_sec1 p {
	font-size: .18em;
	color: #111;
	margin-top: .56em
}

.kaihe_sec2 {
	background-color: #fff;
	text-align: center;
	padding: .66em .2em 1.1em
}

.kaihe_sec2 h2 {
	font-size: .36em;
	margin-bottom: 2em
}

.kaihe_sec2 .item {
	float: left;
	width: 32%;
	height: 4.34em;
	margin-right: 2%;
	position: relative
}

.kaihe_sec2 .item div {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 1.78em;
	background-color: rgba(255, 255, 255, .6)
}

.kaihe_sec2 .item p.title {
	font-size: .24em;
	padding-top: 1.5em
}

.kaihe_sec2 .item p.txt {
	font-size: .16em;
	font-weight: 400;
	color: #111;
	margin-top: .4em
}

.kaihe_sec2 .item1 {
	background: url(img/pic1-36e54ceba8.jpg) center center no-repeat;
	background-size: cover
}

.kaihe_sec2 .item2 {
	background: url(img/pic2-3e4c19e99b.jpg) center center no-repeat;
	background-size: cover
}

.kaihe_sec2 .item3 {
	background: url(img/pic3-bee5506d95.jpg) center center no-repeat;
	background-size: cover
}

.kaihe_sec2 .ks2_tips {
	font-size: .16em;
	text-align: center;
	color: #7c7c7c;
	position: absolute;
	width: 98%;
	bottom: 3em
}

.kaihe_sec3 {
	height: 7.98em;
	background: url(img/bg2-da081d00fb.jpg) center no-repeat;
	background-size: cover;
	text-align: center
}

.kaihe_sec4,
.kaihe_sec4 .ib_slider,
.kaihe_sec4 .ib_slider li {
	width: 100%;
	height: 8em
}

.kaihe_sec3 h2 {
	font-size: .36em;
	color: #111;
	padding-top: 2em;
	font-weight: 900
}

.kaihe_sec3 p {
	font-size: .18em;
	color: #111;
	margin-top: 1em
}

.kaihe_sec4 {
	position: relative
}

.kaihe_sec4 .ib_slider {
	position: absolute;
	overflow: hidden;
	float: left
}

.kaihe_sec4 .ib_slider li .container {
	width: 11.88em;
	margin: 0 auto
}

.kaihe_sec4 .ib_slider li .container .ks4_title {
	text-align: center;
	padding-top: 2em;
	font-size: .36em;
	color: #111;
	font-weight: 900
}

.kaihe_sec4 .ib_slider li .container .ks4_subtitle {
	padding-top: 2em;
	text-align: center;
	font-size: .16em;
	color: #7c7c7c;
	font-weight: 400
}

.kaihe_sec4 .ib_slider li .container .title {
	font-size: .24em;
	font-weight: 900;
	color: #111;
	padding-top: 5em;
	margin-left: 2.5em
}

.kaihe_sec4 .ib_slider li .container .txt {
	font-size: .16em;
	color: #7c7c7c;
	margin-top: 1em;
	margin-left: 3.8em;
	font-weight: 400
}

.kaihe_sec4 .ib_slider li.ibs2 .container .ks4_subtitle,
.kaihe_sec4 .ib_slider li.ibs2 .container .ks4_title,
.kaihe_sec4 .ib_slider li.ibs2 .container .title,
.kaihe_sec4 .ib_slider li.ibs2 .container .txt,
.kaihe_sec4 .ib_slider li.ibs3 .container .ks4_subtitle,
.kaihe_sec4 .ib_slider li.ibs3 .container .ks4_title,
.kaihe_sec4 .ib_slider li.ibs3 .container .title,
.kaihe_sec4 .ib_slider li.ibs3 .container .txt {
	color: #fff
}

.kaihe_sec4 .ib_slider li.ibs1 {
	background: url(img/bg3-2c9d3ddf61.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec4 .ib_slider li.ibs2 {
	background: url(img/bg4-77a3e6c27a.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec4 .ib_slider li.ibs3 {
	background: url(img/bg5-2555ef5490.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec4 .ib_mark {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	z-index: 999
}

.kaihe_sec4 .ib_mark li {
	width: 10px;
	margin-right: 10px;
	float: left
}

.kaihe_sec4 .ib_mark li a {
	display: block;
	width: 100%;
	height: 10px;
	background: url(img/slider_icon1-502a5e4157.png) no-repeat
}

.kaihe_sec4 .ib_mark li a.active {
	background: url(img/slider_icon2-a80fd083aa.png) no-repeat
}

.kaihe_sec5 {
	height: 9.26em;
	width: 100%;
	background: url(img/bg6-5b42a4c4c8.jpg) bottom center no-repeat #fff;
	background-size: contain
}

.kaihe_sec5 .container {
	width: 11.88em;
	margin: 0 auto
}

.kaihe_sec5 .container h2 {
	font-size: .42em;
	color: #111;
	padding-top: 1.6em;
	text-align: center;
	font-weight: 900
}

.kaihe_sec5 .container .left {
	margin-top: 3em
}

.kaihe_sec5 .container .left .title {
	font-size: .36em;
	color: #111;
	margin-bottom: .7em;
	font-weight: 900
}

.kaihe_sec5 .container .left .txt {
	font-size: .16em;
	color: #111;
	padding-bottom: .6em;
	font-weight: 400
}

.kaihe_sec5 .container .left div {
	width: 1.78em;
	height: .62em;
	background: url(img/icon1-fc288af239.png) center no-repeat;
	background-size: contain;
	margin-top: .15em
}

.kaihe_sec6 {
	height: 6.7em;
	width: 100%;
	background: url(img/bg7-3bc518dece.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec6 .container {
	width: 11.88em;
	margin: 0 auto
}

.kaihe_sec6 .container .right {
	padding-top: 4.4em;
	margin-left: 4.6em
}

.kaihe_sec6 .container .right .title {
	font-size: .36em;
	font-weight: 900;
	color: #fff
}

.kaihe_sec6 .container .right .txt {
	font-size: .16em;
	font-weight: 400;
	color: #fff;
	margin-top: 1.25em
}

.kaihe_sec7 {
	height: 7em;
	width: 100%;
	background: url(img/bg8-202a2a296c.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec7 .container {
	width: 11.88em;
	margin: 0 auto;
	padding-top: 2em;
	position: relative
}

.kaihe_sec7 .container .icon {
	width: .48em;
	height: .14em;
	background: url(img/arrow-59c2288d12.png) center no-repeat;
	background-size: cover;
	animation: move 1.6s infinite linear
}

.kaihe_sec7 .container .icon1 {
	margin-left: 3em
}

.kaihe_sec7 .container .icon2 {
	margin-left: 2.5em;
	margin-top: .54em
}

.kaihe_sec7 .container .text {
	position: absolute;
	width: 4em;
	top: 2.54em;
	left: 4.18em
}

.kaihe_sec7 .container .text .title {
	font-size: .36em;
	font-weight: 900;
	color: #111
}

.kaihe_sec7 .container .text .txt {
	font-size: .16em;
	font-weight: 400;
	color: #111;
	margin-top: 1.6em
}

.kaihe_sec8 {
	width: 100%;
	height: 7em;
	background: url(img/bg9-c3b30d534a.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec8 .container {
	width: 11.88em;
	margin: 0 auto;
	padding-top: 3.4em
}

.kaihe_sec8 .container .title {
	font-size: .36em;
	font-weight: 900;
	color: #111;
	margin-left: 15.68em
}

.kaihe_sec8 .container .txt {
	font-size: .16em;
	font-weight: 400;
	color: #111;
	margin-left: 35.6em;
	margin-top: 1.6em
}

.kaihe_sec9 {
	position: relative;
	height: 7em;
	background: url(img/bg10-c4f7d1d984.jpg) center center no-repeat;
	background-size: cover
}

.kaihe_sec9 .container {
	width: 11.88em;
	position: absolute;
	text-align: center;
	top: 0;
	left: 50%;
	margin-left: -5.94em
}

.kaihe_sec9 .container h2 {
	font-size: .36em;
	color: #111;
	padding-top: 8.34em;
	font-weight: 900
}

.kaihe_sec9 .container p {
	font-size: .16em;
	font-weight: 400;
	color: #111;
	margin-top: 1.4em
}

.kaihe_sec10 {
	width: 100%;
	height: 9.08em;
	background: url(img/bg11-8f710a9269.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	margin-top: -.05em
}

.kaihe_sec10 h2 {
	font-size: .36em;
	color: #111;
	padding-top: 2em;
	font-weight: 900
}

.kaihe_sec10 p {
	font-size: .16em;
	color: #111;
	margin-top: .6em
}

.kaihe_sec11 {
	width: 100%;
	height: 9.02em;
	background: url(img/bg12-5e81e8639c.jpg) center no-repeat;
	background-size: cover;
	text-align: center
}

.kaihe_sec11 h2 {
	font-weight: 900;
	font-size: .36em;
	color: #111;
	padding-top: 2em
}

.kaihe_sec11 p {
	font-size: .16em;
	color: #111;
	margin-top: 1em
}

.kaihe_sec12 {
	height: 11.24em;
	width: 100%;
	position: relative;
	background: url(img/bg13-fb00bd3f77.jpg) center no-repeat;
	background-size: cover
}

.kaihe_sec12 .fix {
	text-align: center
}

.kaihe_sec12 .fix h2 {
	font-size: .36em;
	color: #888;
	padding-top: 2em;
	font-weight: 900
}

.kaihe_sec12 .fix p {
	font-size: .16em;
	color: #888;
	margin-top: 1.2em
}

.kaihe_sec12 .text {
	width: 11.88em;
	margin: .86em auto 0
}

.kaihe_sec12 .text .left {
	float: left
}

.kaihe_sec12 .text .left .p1 {
	float: left;
	font-size: .8em;
	color: #888;
	margin-left: 1em;
	font-weight: 900
}

.kaihe_sec12 .text .left .p2 {
	float: left;
	font-size: .18em;
	color: #888;
	margin-top: 2.2em;
	margin-left: 1em
}

.kaihe_sec12 .ks12_tips {
	font-size: .16em;
	text-align: center;
	color: #888;
	position: absolute;
	width: 100%;
	bottom: 2em
}

.kaihe_sec13 {
	height: 7.86em;
	background: url(img/bg14-4885bc87e7.jpg) center no-repeat;
	background-size: cover;
	position: relative
}

.kaihe_sec13 .container {
	width: 11.88em;
	margin: 0 auto
}

.kaihe_sec13 .container h2 {
	padding-top: 10.5em;
	margin-left: 17.8em;
	font-size: .36em;
	font-weight: 900;
	color: #888
}

.kaihe_sec13 .container p {
	margin-left: 39em;
	width: 36em;
	margin-top: 1.5em;
	color: #888;
	font-size: .16em
}

.kaihe_sec14 {
	height: 9.06em;
	background: url(img/bg15-a9266c3c5b.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	position: relative
}

.kaihe_sec14 h2 {
	padding-top: 2em;
	font-size: .36em;
	color: #888;
	font-weight: 900
}

.kaihe_sec14 p {
	font-size: .16em;
	color: #888;
	margin-top: 1.5em
}

.kaihe_sec14 .ks14_tips {
	font-size: .16em;
	text-align: center;
	color: #888;
	position: absolute;
	width: 100%;
	bottom: 3em
}

.kaihe_sec15 h2,
.kaihe_sec17 h2 {
	font-size: .36em;
	font-weight: 900
}

.kaihe_sec15 {
	height: 7.1em;
	background: url(img/bg16-6248b3b02e.jpg) center no-repeat;
	background-size: cover;
	text-align: center
}

.kaihe_sec15 h2 {
	color: #888;
	padding-top: 2em
}

.kaihe_sec15 .container {
	width: 10em;
	margin: 3.6em auto 0
}

.kaihe_sec15 .container p {
	float: left;
	width: 33.3%;
	text-align: center;
	font-size: .2em;
	color: #888
}

.kaihe_sec16 {
	height: 1018px;
	width: 100%;
	background-color: #fff;
	text-align: center
}

.kaihe_sec16 h2 {
	font-size: 36px;
	color: #111;
	padding-top: 122px;
	font-weight: 900
}

.kaihe_sec16 p {
	font-size: 16px;
	font-weight: 400;
	color: #111;
	margin-top: 22px
}

.kaihe_sec16 .container {
	margin-top: 64px;
	position: relative
}

.kaihe_sec16 .container ul {
	overflow: hidden;
	margin-bottom: 14px;
	position: relative;
	height: 625px
}

.kaihe_sec16 .container ul li {
	width: 1110px;
	height: 625px;
	position: absolute;
	z-index: 1
}

.kaihe_sec16 .container .link {
	width: 1110px;
	position: absolute;
	margin-left: -555px;
	z-index: 10;
	top: 0;
	left: 50%
}

.kaihe_sec16 .container .link a {
	position: absolute;
	width: 40px;
	height: 100px;
	top: 262px;
	display: block;
	z-index: 11;
	background: url(img/icons-7a344f6a16.png) center no-repeat
}

.kaihe_sec16 .container .link a.prevslide {
	background-position: 0 0;
	left: 0
}

.kaihe_sec16 .container .link a.prevslide:hover {
	background-position: -80px 0
}

.kaihe_sec16 .container .link a.nextslide {
	right: 0;
	background-position: -40px 0
}

.kaihe_sec16 .container .link a.nextslide:hover {
	background-position: -120px 0
}

.kaihe_sec17 {
	width: 100%;
	text-align: center;
	position: relative
}

.kaihe_sec17 h2 {
	color: #111;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 1.78em
}

.kaihe_sec17 img {
	width: 100%;
	height: auto;
	display: block
}

.kaihe_sec18 {
	width: 100%;
	background-color: #fbfbfb;
	margin-top: -5px
}

.kaihe_sec18 .container {
	width: 1188px;
	margin: 0 auto
}

.kaihe_sec18 .container h2 {
	font-size: 36px;
	color: #111;
	padding-top: 110px;
	text-align: center;
	font-weight: 400
}

.kaihe_sec18 .container .pic {
	width: 300px;
	margin: 58px auto 0;
	text-align: center
}

.kaihe_sec18 .container .pic em {
	display: block;
	height: 65px;
	background: url(img/pro-2bb549d6c0.png) center no-repeat;
	width: 265px;
	margin: 0 auto
}

.kaihe_sec18 .container .pic p {
	margin-top: 50px;
	font-size: 20px;
	color: #111
}

.kaihe_sec18 .container .text {
	margin: 40px auto 0;
	width: 860px
}

.kaihe_sec18 .container .text div p {
	font-size: 16px;
	color: grey;
	margin-bottom: 18px;
	float: left
}

.kaihe_sec18 .container .text div p span {
	color: #111;
	display: inline-block;
	width: 240px;
	text-align: right
}

.kaihe_sec18 .container .text .ks18cpt_left {
	float: left;
	width: 440px
}

.kaihe_sec18 .container .text .ks18cpt_right {
	float: right;
	width: 420px
}

.kaihe_sec18 .table {
	margin: 52px auto 0;
	width: 860px;
	padding-bottom: 42px
}

.kaihe_sec18 .table p {
	font-size: 18px;
	color: #111;
	margin-bottom: 16px
}

.kaihe_sec18 .table p.tips {
	font-size: 16px;
	color: #888;
	margin-top: 8px
}

.kaihe_sec18 .table table {
	width: 100%;
	text-align: center;
	border: 1px solid #ccc
}

.kaihe_sec18 .table table th {
	font-size: 16px;
	color: #111;
	line-height: 50px;
	height: 50px;
	background-color: #f6f6f6;
	font-weight: 400
}

.kaihe_sec18 .table table td {
	border: 1px solid #ccc;
	font-size: 16px;
	color: #111;
	line-height: 50px;
	height: 50px
}