.c1Page .infoSec .case1,
.c1Page .infoSec .case2,
.c1Page .infoSec .case3,
.c1Page .infoSec .case4,
.c1Page .infoSec .case5,
.c1Page .sec2 .font42,
.c1Page .sec4 .font24,
.c1Page .sec4 .font42,
.c1Page .sec5 .font24,
.c1Page .sec5 .font42 {
  text-align: center;
}
.c1Page {
  width: 100%;
}
.c1Page .font48 {
  font-size: 0.48rem;
  font-weight: 800;
  line-height: 0.67rem;
  color: #fff;
}
.c1Page .font42 {
  font-size: 0.42rem;
  font-weight: 800;
  line-height: 0.59rem;
  color: #fff;
}
.c1Page .font26 {
  font-size: 0.26rem;
  font-weight: 800;
  line-height: 0.37rem;
  color: #fff;
}
.c1Page .font24 {
  font-size: 0.24rem;
  font-weight: 500;
  color: #fff;
}
.c1Page .sec1 {
  height: 8.77rem;
  background: url(img/sec1-c82bd340d9.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec1 .content {
  position: absolute;
  top: 3.19rem;
  left: 50%;
  margin-left: -5.7rem;
}
.c1Page .sec1 .content .font26 {
  margin-top: 0.3rem;
}
.c1Page .sec2 {
  height: 10.13rem;
  background: url(img/sec2-8fcee63ce6.png) center no-repeat;
  background-size: cover;
  padding-top: 1.16rem;
}
.c1Page .infoSec {
  height: 3.11rem;
  background-color: #000;
}
.c1Page .infoSec .content {
  width: 16rem;
  margin: 0 auto;
  display: flex;
}
.c1Page .infoSec .content > div:not(:last-child) {
  border-right: 1px solid #46505f;
}
.c1Page .infoSec p:nth-child(1) {
  font-size: 0.2rem;
  font-weight: 800;
  line-height: 0.28rem;
  color: #fff;
}
.c1Page .infoSec p:nth-child(2) {
  margin-top: 0.11rem;
  font-size: 0.16rem;
  font-weight: 500;
  color: #fff;
}
.c1Page .sec3 .font24,
.c1Page .sec4 .font24,
.c1Page .sec5 .font24,
.c1Page .sec6 .font24 {
  margin-top: 0.2rem;
}
.c1Page .infoSec .up {
  height: 1.56rem;
  border-bottom: 1px solid #46505f;
  padding-top: 0.5rem;
}
.c1Page .infoSec .down {
  height: 1.55rem;
  padding-top: 0.44rem;
}
.c1Page .sec4 {
  padding-top: 1.17rem;
}
.c1Page .infoSec .case1 {
  width: 2.51rem;
}
.c1Page .infoSec .case2 {
  width: 3.19rem;
}
.c1Page .infoSec .case3 {
  width: 3.08rem;
}
.c1Page .infoSec .case4 {
  width: 3.85rem;
}
.c1Page .infoSec .case5 {
  width: 3.37rem;
}
.c1Page .infoSec .case5 .down {
  position: relative;
}
.c1Page .infoSec .case5 .down::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.01rem;
  background-color: #9aacc7;
  transform: translate(-50%, -50%);
}
.c1Page .sec3 {
  height: 9.6rem;
  background: url(img/sec3-8b4bf071a8.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec3 .content {
  position: absolute;
  top: 3.39rem;
  left: 50%;
  margin-left: -7rem;
}
.c1Page .sec4 {
  height: 9.6rem;
  background: url(img/sec4-d1103b3e7f.png) center no-repeat;
  background-size: cover;
}
.c1Page .sec5 {
  height: 11.28rem;
  padding-top: 1rem;
  background: url(img/sec5-357a915e2d.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec6,
.c1Page .sec7,
.c1Page .sec8 {
  height: 9.6rem;
  padding-top: 1rem;
}
.c1Page .sec5 .infoLeft,
.c1Page .sec5 .infoRight {
  position: absolute;
  top: 5.19rem;
  left: 50%;
}
.c1Page .sec5 .infoRight {
  margin-left: 0.38rem;
}
.c1Page .sec5 .infoLeft {
  margin-left: -2.1rem;
}
.c1Page .sec6 {
  background: url(img/sec6-8213720c75.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec6 .content {
  position: absolute;
  top: 2.74rem;
  left: 50%;
  margin-left: -0.2rem;
}
.c1Page .sec7 .font24,
.c1Page .sec8 .font24,
.c1Page .sec9 .font24 {
  margin-top: 0.3rem;
}
.c1Page .sec7 {
  background: url(img/sec7-4fff68781c.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec7 .content {
  position: absolute;
  top: 1.3rem;
  left: 50%;
  margin-left: -5.6rem;
}
.c1Page .sec8 {
  background: url(img/sec8-080c3eb017.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec8 .content {
  position: absolute;
  top: 1.3rem;
  left: 50%;
  margin-left: -5.6rem;
}
.c1Page .sec9 {
  height: 9.49rem;
  padding-top: 1rem;
  background: url(img/sec9-ba6c686d3b.png) center no-repeat;
  background-size: cover;
  position: relative;
}
.c1Page .sec9 .content {
  position: absolute;
  top: 2.32rem;
  left: 50%;
  margin-left: -5.9rem;
}
