 .animated {
     animation-duration: .6s;
     animation-fill-mode: both;
     animation-timing-function: ease-in-out 
}
 .banner {
     min-width: 1280px 
}

 .banner {
     margin: 0 auto 
}

 .banner {
     position: relative;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     overflow: hidden 
}
 .animated {
     animation-duration: .6s;
     animation-fill-mode: both;
     animation-timing-function: ease-in-out 
}
 .switch__container .title {
     font-size: .42rem;
     line-height: .68rem;
     font-weight: 800;
     color: #111;
     text-align: center 
}
 .switch__container .desc {
     font-size: .2rem;
     font-weight: 500;
     color: #111;
     text-align: center;
     line-height: .32rem 
}
 .switch__container .sec_super {
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover 
}

 .switch__container .animated {
     animation-duration: .66s;
     animation-fill-mode: both;
     animation-timing-function: ease-in-out 
}
 .switch__container .show .fadeInUp {
     animation-name: mixpadFadeInUp 
}
 .switch__container .fadeInUp {
     opacity: 0;
     transform: translate3d(0, 24px, 0) 
}
 .switch__container .sh-one {
     width: 3.65rem;
     height: 3.65rem;
     position: relative;
     border-radius: 50% 
}
 .switch__container .sh-one>div {
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) 
}
 .switch__container .sh-two {
     width: 2.75rem;
     height: 2.75rem 
}
 .switch__container .sh-three {
     width: 1.27rem;
     height: 1.27rem 
}
 .switch__container .sh-four {
     width: .24rem;
     height: .24rem 
}
 .switch__container .sh-five {
     width: .12rem;
     height: .12rem 
}
 .switch__container .sh-six {
     width: .08rem;
     height: .08rem 
}

 .switch__container .banner {
     position: relative;
     height: 10.8rem;
     width: 100%;
     background-image: url(img/banner-1a2bffdaf0.jpg);
     background-size: cover;
     background-position: center;
     letter-spacing: .01rem;
     font-family: PingFang SC 
}
 .switch__container .banner .content {
     position: absolute;
     top: 2.7rem;
     left: 10.8rem 
}
 .switch__container .banner .content img {
     width: 2.22rem;
     height: 1.5rem 
}
 .switch__container .banner .banner_title {
     font-weight: 800;
     font-size: .48rem;
     color: #fff;
     margin-top: .55rem;
     white-space: nowrap 
}
 .switch__container .banner .banner_desc {
     font-size: .3rem;
     line-height: .42rem;
     color: #fff;
     margin-top: .4rem 
}
 .switch__container .sec_super1 {
     height: 6.37rem;
     width: 11.22rem;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     padding-top: 2.42rem 
}
 .switch__container .sec_super1>div {
     text-align: center 
}
 .switch__container .sec_super1 p {
     font-size: .2rem;
     color: #111 
}
 .switch__container .sec_super1>div:nth-child(1) img {
     width: .69rem;
     height: .69rem 
}
 .switch__container .sec_super1>div:nth-child(1) p {
     margin-top: .3rem 
}
 .switch__container .sec_super1>div:nth-child(2) {
     margin-top: .03rem 
}
 .switch__container .sec_super1>div:nth-child(2) img {
     width: .69rem;
     height: .65rem 
}
 .switch__container .sec_super1>div:nth-child(2) P {
     margin-top: .31rem 
}
 .switch__container .sec_super1>div:nth-child(3) {
     margin-top: .01rem 
}
 .switch__container .sec_super1>div:nth-child(3) P {
     margin-top: .3rem 
}
 .switch__container .sec_super1>div:nth-child(3) img {
     width: .66rem;
     height: .7rem 
}
 .switch__container .sec_super1>div:nth-child(4) {
     margin-top: .22rem 
}
 .switch__container .sec_super1>div:nth-child(4) P {
     margin-top: .52rem 
}
 .switch__container .sec_super1>div:nth-child(4) img {
     width: 1.21rem;
     height: .25rem 
}
 .switch__container .sec_super2 {
     height: 10.8rem;
     overflow: hidden;
     background: url(img/sec2-f6a6712fde.jpg) center no-repeat;
     background-size: cover;
     padding: 1.85rem 0 0 2.68rem 
}
 .switch__container .sec_super2 .title {
     font-size: .42rem;
     text-align: left;
     color: #fff 
}
 .switch__container .sec_super2 .desc {
     font-size: .2rem;
     text-align: left;
     color: #fff;
     margin-top: .31rem 
}
 .switch__container .sec_super2 .img1 {
     margin-top: 1.13rem 
}
 .switch__container .sec_super2 .img2 {
     margin-top: .53rem 
}
 .switch__container .sec_super3 {
     height: 18.9rem;
     position: relative 
}
 .switch__container .sec_super3 .title {
     white-space: nowrap 
}
 .switch__container .sec_super3 .desc {
     margin-top: .3rem 
}
 .switch__container .sec_super3 .content {
     position: absolute;
     top: 1rem;
     left: 50%;
     transform: translateX(-50%) 
}
 .switch__container .sec_super3 .item {
     width: 100%;
     height: 9.2rem;
     position: relative;
     left: 50%;
     transform: translateX(-50%) 
}
 .switch__container .sec_super3 img {
     width: 100%;
     height: 100% 
}
 .switch__container .sec_super3 ul {
     width: 100%;
     text-align: center;
     position: absolute;
     bottom: .6rem 
}
 .switch__container .sec_super3 ul>li {
     cursor: pointer;
     display: inline-block 
}
 .switch__container .sec_super3 ul>li>b {
     display: inline-block;
     height: .12rem;
     width: .12rem;
     border-radius: 50%;
     margin-right: .18rem 
}
 .switch__container .sec_super3 ul>li>span {
     font-size: .2rem;
     line-height: .25rem 
}
 .switch__container .sec_super3 ul>li.active>span {
     font-weight: 500 
}
 .switch__container .sec_super3 ul>li:nth-child(1) span {
     color: #A18848 
}
 .switch__container .sec_super3 ul>li:nth-child(1) b {
     background-color: #A18848 
}
 .switch__container .sec_super3 ul>li:nth-child(1).active>span {
     font-weight: 800 
}
 .switch__container .sec_super3 ul>li:nth-child(2) {
     margin: 0 .58rem 
}
 .switch__container .sec_super3 ul>li:nth-child(2) span {
     color: #fff 
}
 .switch__container .sec_super3 ul>li:nth-child(2) b {
     background-color: #fff 
}
 .switch__container .sec_super3 ul>li:nth-child(3) span {
     color: #4C5560 
}
 .switch__container .sec_super3 ul>li:nth-child(3) b {
     background-color: #4C5560 
}
 .switch__container .sec_super4 {
     height: 9.6rem;
     padding: 1.07rem 0 0 2.3rem;
     position: relative;
     overflow: hidden 
}
 .switch__container .sec_super4 .content {
     position: absolute 
}
 .switch__container .sec_super4 .content .title {
     text-align: left;
     color: #fff 
}
 .switch__container .sec_super4 .content .desc {
     text-align: left;
     margin-top: .3rem;
     color: #fff 
}
 .switch__container .sec_super4 video {
     position: absolute;
     height: 9.6rem;
     width: 19.2rem;
     top: 0;
     left: 50%;
     transform: translateX(-50%) 
}
 .switch__container .sec_super5-1 {
     height: 3.51rem;
     display: flex;
     flex-direction: column;
     justify-content: center 
}
 .switch__container .sec_super5-1 .title {
     padding-bottom: .3rem 
}
 .switch__container .sec_super5 {
     height: 9.6rem;
     position: relative;
     background-color: #000 
}
 .switch__container .sec_super5 img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     transition: all 3s ease-in 
}
 .switch__container .sec_super5 img.active {
     opacity: 1 
}
 .switch__container .sec_super5 .sh-one {
     background-color: rgba(255, 255, 255, .05);
     top: 3.7rem;
     left: 12.97rem;
     animation: sh-ripple 2s ease .2s infinite 
}
 .switch__container .sec_super5 .sh-two {
     background-color: rgba(255, 255, 255, .04) 
}
 .switch__container .sec_super5 .sh-three {
     background-color: rgba(255, 255, 255, .07) 
}
 .switch__container .sec_super5 .sh-five, .switch__container .sec_super5 .sh-four, .switch__container .sec_super5 .sh-six {
     background-color: rgba(255, 255, 255, .59) 
}
 .switch__container .sec_super5-2 {
     height: 9.6rem;
     overflow: hidden;
     position: relative 
}
 .switch__container .sec_super5-2 video {
     position: absolute;
     height: 9.6rem;
     width: 19.2rem;
     top: 0;
     left: 50%;
     transform: translateX(-50%) 
}
 .switch__container .sec_super5-2 .sh-one {
     background-color: rgba(213, 192, 58, .04);
     top: 2.96rem;
     left: 2rem;
     animation: sh-ripple 2s ease .2s infinite 
}
 .switch__container .sec_super5-2 .sh-two {
     background-color: rgba(213, 192, 58, .06) 
}
 .switch__container .sec_super5-2 .sh-three {
     background-color: rgba(213, 192, 58, .1);
     opacity: .1 
}
 .switch__container .sec_super5-2 .sh-five, .switch__container .sec_super5-2 .sh-four {
     background-color: rgba(213, 192, 58, .29) 
}
 .switch__container .sec_super5-2 .sh-six {
     background-color: rgba(222, 194, 11, .71) 
}
 .switch__container .sec_super6-1 {
     height: 2.36rem;
     background-color: #fff;
     font-family: PingFang SC 
}
 .switch__container .sec_super6-1 .title {
     padding-top: .83rem;
     color: #111;
     font-size: .42rem;
     line-height: .72rem 
}
 .switch__container .sec_super6 {
     position: relative;
     background-color: #fff;
     padding-bottom: 1.5rem;
     font-family: PingFang SC 
}
 .switch__container .sec_super6 .title {
     padding: .83rem 0 .8rem;
     color: #111;
     font-size: .42rem;
     line-height: .56rem 
}
 .switch__container .sec_super6 .desc {
     font-size: .24rem;
     line-height: .36rem;
     color: #111 
}
 .switch__container .sec_super6 .content {
     width: 16rem;
     margin: 0 auto 
}
 .switch__container .sec_super6 .case1 .txtWrapper {
     padding: 1.92rem 0 0 2.4rem 
}
 .switch__container .sec_super6 .case1 .title {
     padding: 0;
     text-align: left 
}
 .switch__container .sec_super6 .case1 .desc {
     margin-top: .34rem;
     text-align: left 
}
 .switch__container .sec_super6 .case2 .desc {
     margin-top: .3rem;
     text-align: left 
}
 .switch__container .sec_super6 .case2 .txtWrapper {
     padding: 2.09rem 0 0 2.01rem 
}
 .switch__container .sec_super6 .case2 .title {
     padding: 0;
     text-align: left 
}
 .switch__container .sec_super6 .case {
     display: flex 
}
 .switch__container .sec_super6 .case>div {
     width: 8rem;
     height: 6rem 
}
 .switch__container .sec_super6 .case .txtWrapper {
     background-color: #f6f6f6 
}
 .switch__container .sec_super6 .case img {
     width: 100%;
     height: 100% 
}
 .switch__container .sec_super7-1 {
     height: 4.09rem;
     background-color: #f9f9f9 
}
 .switch__container .sec_super7-1 .title {
     padding: 1.28rem 0 .3rem 
}
 .switch__container .sec_super7-1 .desc {
     padding-bottom: 1.2rem 
}
 .switch__container .sec_super7 {
     height: 20.74rem;
     background-color: #f9f9f9;
     position: relative 
}
 .switch__container .sec_super7 .after {
     position: absolute;
     bottom: .86rem;
     left: 50%;
     transform: translateX(-50%);
     font-size: .18rem;
     line-height: .37rem;
     color: #111 
}
 .switch__container .sec_super7 .content {
     width: 16.53rem;
     margin: 0 auto;
     position: relative 
}
 .switch__container .sec_super7 .content>div {
     float: left;
     position: relative 
}
 .switch__container .sec_super7 .content>div>div {
     position: absolute;
     font-size: .2rem;
     color: #111;
     line-height: .26rem 
}
 .switch__container .sec_super7 .content .sec_super7_2 {
     margin-top: 1.74rem;
     margin-left: .6rem 
}
 .switch__container .sec_super7 .content .sec_super7_3 {
     margin-left: 3.53rem;
     margin-top: 1.59rem 
}
 .switch__container .sec_super7 .content .sec_super7_4 {
     margin-top: -5.1rem 
}
 .switch__container .sec_super7 .triangle-left {
     width: 0;
     height: 0;
     border-width: .055rem .11rem;
     border-color: transparent #111 transparent transparent;
     border-style: solid;
     display: inline-block 
}
 .switch__container .sec_super7 .triangle-down, .switch__container .sec_super7 .triangle-up {
     width: 0;
     height: 0;
     border-width: .11rem .055rem;
     border-style: solid;
     display: inline-block 
}
 .switch__container .sec_super7 .triangle-up {
     border-color: transparent transparent #111 
}
 .switch__container .sec_super7 .triangle-down {
     border-color: #111 transparent transparent;
     vertical-align: -.08rem 
}
 .switch__container .sec_super7 b {
     margin-right: .08rem 
}
 .switch__container .sec_super7 .sec_super7_1 {
     display: inline-block;
     position: relative 
}
 .switch__container .sec_super7 .sec_super7_1 img {
     width: 6.5rem;
     height: 9.6rem 
}
 .switch__container .sec_super7 .sec_super7_1>div {
     right: -1rem;
     top: 0 
}
 .switch__container .sec_super7 .sec_super7_2 {
     display: inline-block;
     position: relative 
}
 .switch__container .sec_super7 .sec_super7_2 img {
     width: 9.43rem;
     height: 6.12rem 
}
 .switch__container .sec_super7 .sec_super7_2>div {
     left: 0;
     bottom: -.56rem 
}
 .switch__container .sec_super7 .sec_super7_3 {
     display: inline-block 
}
 .switch__container .sec_super7 .sec_super7_3 img {
     width: 6.5rem;
     height: 8rem 
}
 .switch__container .sec_super7 .sec_super7_3>div {
     left: 0;
     bottom: -.56rem 
}
 .switch__container .sec_super7 .sec_super7_4 {
     display: inline-block 
}
 .switch__container .sec_super7 .sec_super7_4 img {
     width: 9.43rem;
     height: 5.9rem 
}
 .switch__container .sec_super7 .sec_super7_4>div {
     left: 0;
     top: -.56rem 
}
 .switch__container .sec_super8 {
     height: 9.6rem;
     background-color: #fff 
}
 .switch__container .sec_super8 .title {
     padding: 1.1rem 0 .3rem 
}
 .switch__container .sec_super8 .sec_super8_ani {
     margin: 1.45rem auto 0;
     position: relative 
}
 .switch__container .sec_super8 .sec_super8_1, .switch__container .sec_super8 .sec_super8_2, .switch__container .sec_super8 .sec_super8_3 {
     position: absolute;
     left: 50%;
     transform: translateX(-50%) 
}
 .switch__container .sec_super8 .sec_super8_1 {
     top: 0;
     width: 13.4rem;
     height: 1.14rem;
     background: url(img/sec8_1-6f7a2de589.png) center no-repeat;
     background-size: cover;
     z-index: 1 
}
 .switch__container .sec_super8 .sec_super8_2 {
     top: 2.33rem;
     width: 13.77rem;
     height: 1.33rem;
     background: url(img/sec8_2-7417f7efaf.png) center no-repeat;
     background-size: cover;
     opacity: 1 
}
 .switch__container .sec_super8 .sec_super8_3 {
     top: 2.33rem;
     width: 13.77rem;
     height: 1.33rem;
     background: url(img/sec8_3-0f348a9813.png) center no-repeat;
     background-size: cover;
     opacity: 0;
     z-index: 8 
}
 .switch__container .sec_super9 {
     height: 10.8rem;
     background: url(img/sec9-d39ea2e430.png) center no-repeat #000;
     background-size: cover;
     padding-top: 5.07rem 
}
 .switch__container .sec_super9 .title {
     color: #fff 
}
 .switch__container .sec_super10animated {
     animation-fill-mode: forwards;
     animation-duration: 2.5s;
     animation-timing-function: ease-in-out 
}
 .switch__container .sec_super10 {
     height: 13.64rem;
     background-color: #000;
     position: relative 
}
 .switch__container .sec_super10 .title {
     padding: 1.28rem 0 .37rem;
     color: #fff 
}
 .switch__container .sec_super10 .desc {
     padding-bottom: .92rem;
     color: #fff 
}
 .switch__container .sec_super10 .content {
     position: relative;
     width: 13.47rem;
     height: 5.2rem;
     margin: 0 auto 
}
 .switch__container .sec_super10 .line {
     width: .01rem;
     background-color: #b5b5b5;
     z-index: 333;
     position: relative;
     white-space: nowrap;
     text-align: center;
     opacity: .45 
}
 .switch__container .sec_super10 .line P {
     position: absolute;
     color: #fff;
     font-size: .18rem;
     bottom: -.57rem;
     transform: translateX(-50%);
     text-align: center 
}
 .switch__container .sec_super10 .product {
     position: relative;
     z-index: 0 
}
 .switch__container .sec_super10 .product .icon {
     position: absolute 
}
 .switch__container .sec_super10 .product .four {
     top: 0;
     width: 1.31rem;
     height: 5.2rem;
     background: url(img/sec10_4-27c9da4c05.png) center no-repeat;
     background-size: cover;
     left: 10.4rem;
     z-index: 7 
}
 .switch__container .sec_super10 .product .five {
     top: 3.52rem;
     width: 1.05rem;
     height: 1.15rem;
     background: url(img/sec10_5-13642351d0.png) center no-repeat;
     background-size: cover;
     left: 10.4rem;
     z-index: 6 
}
 .switch__container .sec_super10 .product .six {
     top: 0;
     left: 10.4rem;
     width: 1.6rem;
     height: 5.2rem;
     background: url(img/sec10_6-9de7366f50.png) center no-repeat;
     background-size: cover;
     z-index: 5 
}
 .switch__container .sec_super10 .product .one {
     top: 3.35rem;
     left: 9.8rem;
     width: 1.55rem;
     height: 1.17rem;
     background: url(img/sec10_1-fa98ca26d6.png) center no-repeat;
     background-size: cover;
     opacity: 0;
     z-index: 4 
}
 .switch__container .sec_super10 .product .two {
     top: .78rem;
     left: 9.96rem;
     width: 1.42rem;
     height: 3.82rem;
     background: url(img/sec10_2-24f5c15fe4.png) center no-repeat;
     background-size: cover;
     opacity: 0;
     z-index: 3 
}
 .switch__container .sec_super10 .product .three {
     top: .93rem;
     left: 9.96rem;
     width: 1.93rem;
     height: 3.69rem;
     background: url(img/sec10_3-bbb3de2b31.png) center no-repeat;
     background-size: cover;
     opacity: 0;
     z-index: 2 
}
 .switch__container .sec_super10 .product .seven {
     top: .35rem;
     left: 10.4rem;
     width: 3.07rem;
     height: 4.82rem;
     background: url(img/sec10_7-9779bd818e.png) center no-repeat;
     background-size: cover;
     z-index: 1 
}
 .switch__container .sec_super10 .after {
     position: absolute;
     bottom: 1.58rem;
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
     color: #fff;
     opacity: .31;
     font-size: .16rem 
}
 .switch__container .sec_super10 .line1 {
     height: 1.65rem;
     left: 3.62rem;
     bottom: -4.66rem 
}
 .switch__container .sec_super10 .line2 {
     height: 1.84rem;
     left: 7.3rem;
     bottom: -2.84rem;
     z-index: 3 
}
 .switch__container .sec_super10 .line3 {
     height: 1.94rem;
     left: 9.11rem;
     bottom: -.89rem 
}
 .switch__container .sec_super10 .line4 {
     height: 1.63rem;
     left: 11.19rem;
     bottom: .75rem 
}
 .switch__container .line-delay-1 {
     animation-delay: 2.5s 
}
 .switch__container .sec_super11 {
     height: 10.79rem;
     background: url(img/sec11-74fd740a50.png) center no-repeat #000;
     background-size: cover;
     position: relative 
}
 .switch__container .sec_super11 .title {
     color: #fff;
     font-size: .48rem;
     font-weight: 800;
     line-height: .77rem;
     padding: 2.81rem 0 .3rem 
}
 .switch__container .sec_super11 .desc {
     color: #fff;
     font-size: .2rem;
     line-height: .32rem 
}
 .switch__container .sec_super11 .logo {
     display: flex;
     width: 10.62rem;
     margin: 1.16rem auto 0;
     justify-content: space-between 
}
 .switch__container .sec_super11 .logo>div {
     text-align: center 
}
 .switch__container .sec_super11 .logo>div:nth-child(1)>img {
     width: .58rem;
     height: .58rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(1)>p {
     margin-top: .26rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(2)>img {
     width: .49rem;
     height: .53rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(2)>p {
     margin-top: .28rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(3)>img {
     width: .3rem;
     height: .5rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(3)>p {
     margin-top: .31rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(4)>img {
     width: .43rem;
     height: .52rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(4)>p {
     margin-top: .29rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(5)>img {
     width: .46rem;
     height: .36rem;
     margin-top: .08rem 
}
 .switch__container .sec_super11 .logo>div:nth-child(5)>p {
     margin-top: .37rem 
}
 .switch__container .sec_super11 .logo p {
     font-size: .18rem;
     font-weight: 500;
     color: #fff 
}
 .banner{
     min-width: 1280px 
}
 .banner {
     margin: 0 auto 
}
 .banner {
     position: relative;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     overflow: hidden 
}
 .animated {
     animation-duration: .6s;
     animation-fill-mode: both;
     animation-timing-function: ease-in-out 
}
 .switch__container .title {
     font-size: .42rem;
     line-height: .68rem;
     font-weight: 800;
     color: #111;
     text-align: center;
}
 .switch__container .desc{
    font-size:.2rem;
    font-weight:500;
    color:#111;
    text-align:center;
    line-height:.32rem
}
.switch__container .sec_super{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover
}

.switch__container .animated{
    animation-duration:.66s;
    animation-fill-mode:both;
    animation-timing-function:ease-in-out
}
.switch__container .show .fadeInUp{
    animation-name:mixpadFadeInUp
}
.switch__container .fadeInUp{
    opacity:0;
    transform:translate3d(0,24px,0)
}
.switch__container .sh-one{
    width:3.65rem;
    height:3.65rem;
    position:relative;
    border-radius:50%
}
.switch__container .sh-one>div{
    border-radius:50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.switch__container .sh-two{
    width:2.75rem;
    height:2.75rem
}
.switch__container .sh-three{
    width:1.27rem;
    height:1.27rem
}
.switch__container .sh-four{
    width:.24rem;
    height:.24rem
}
.switch__container .sh-five{
    width:.12rem;
    height:.12rem
}
.switch__container .sh-six{
    width:.08rem;
    height:.08rem
}

.switch__container .banner{
    position:relative;
    height:10.8rem;
    width:100%;
    background-image:url(img/banner-1a2bffdaf0.jpg);
    background-size:cover;
    background-position:center;
    letter-spacing:.01rem;
    font-family:PingFang SC
}
.switch__container .banner .content{
    position:absolute;
    top:2.7rem;
    left:10.8rem
}
.switch__container .banner .content img{
    width:2.22rem;
    height:1.5rem
}
.switch__container .banner .banner_title{
    font-weight:800;
    font-size:.48rem;
    color:#fff;
    margin-top:.55rem;
    white-space:nowrap
}
.switch__container .banner .banner_desc{
    font-size:.3rem;
    line-height:.42rem;
    color:#fff;
    margin-top:.4rem
}
.switch__container .sec_super1{
    height:6.37rem;
    width:11.22rem;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding-top:2.42rem
}
.switch__container .sec_super1>div{
    text-align:center
}
.switch__container .sec_super1 p{
    font-size:.2rem;
    color:#111
}
.switch__container .sec_super1>div:nth-child(1) img{
    width:.69rem;
    height:.69rem
}
.switch__container .sec_super1>div:nth-child(1) p{
    margin-top:.3rem
}
.switch__container .sec_super1>div:nth-child(2){
    margin-top:.03rem
}
.switch__container .sec_super1>div:nth-child(2) img{
    width:.69rem;
    height:.65rem
}
.switch__container .sec_super1>div:nth-child(2) P{
    margin-top:.31rem
}
.switch__container .sec_super1>div:nth-child(3){
    margin-top:.01rem
}
.switch__container .sec_super1>div:nth-child(3) P{
    margin-top:.3rem
}
.switch__container .sec_super1>div:nth-child(3) img{
    width:.66rem;
    height:.7rem
}
.switch__container .sec_super1>div:nth-child(4){
    margin-top:.22rem
}
.switch__container .sec_super1>div:nth-child(4) P{
    margin-top:.52rem
}
.switch__container .sec_super1>div:nth-child(4) img{
    width:1.21rem;
    height:.25rem
}
.switch__container .sec_super2{
    height:10.8rem;
    overflow:hidden;
    background:url(img/sec2-f6a6712fde.jpg) center no-repeat;
    background-size:cover;
    padding:1.85rem 0 0 2.68rem
}
.switch__container .sec_super2 .title{
    font-size:.42rem;
    text-align:left;
    color:#fff
}
.switch__container .sec_super2 .desc{
    font-size:.2rem;
    text-align:left;
    color:#fff;
    margin-top:.31rem
}
.switch__container .sec_super2 .img1{
    margin-top:1.13rem
}
.switch__container .sec_super2 .img2{
    margin-top:.53rem
}
.switch__container .sec_super5-1{
    height:3.51rem;
    display:flex;
    flex-direction:column;
    justify-content:center
}
.switch__container .sec_super5-1 .title{
    padding-bottom:.3rem
}
.switch__container .sec_super5{
    height:9.6rem;
    position:relative;
    background-color:#000
}
.switch__container .sec_super5 img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    transition:all 3s ease-in
}
.switch__container .sec_super5 img.active{
    opacity:1
}
.switch__container .sec_super5 .sh-one{
    background-color:rgba(255,255,255,.05);
    top:3.7rem;
    left:12.97rem;
    animation:sh-ripple 2s ease .2s infinite
}
.switch__container .sec_super5 .sh-two{
    background-color:rgba(255,255,255,.04)
}
.switch__container .sec_super5 .sh-three{
    background-color:rgba(255,255,255,.07)
}
.switch__container .sec_super5 .sh-five,.switch__container .sec_super5 .sh-four,.switch__container .sec_super5 .sh-six{
    background-color:rgba(255,255,255,.59)
}
.switch__container .sec_super5-2{
    height:9.6rem;
    overflow:hidden;
    position:relative
}
.switch__container .sec_super5-2 video{
    position:absolute;
    height:9.6rem;
    width:19.2rem;
    top:0;
    left:50%;
    transform:translateX(-50%)
}
.switch__container .sec_super5-2 .sh-one{
    background-color:rgba(213,192,58,.04);
    top:2.96rem;
    left:2rem;
    animation:sh-ripple 2s ease .2s infinite
}
.switch__container .sec_super5-2 .sh-two{
    background-color:rgba(213,192,58,.06)
}
.switch__container .sec_super5-2 .sh-three{
    background-color:rgba(213,192,58,.1);
    opacity:.1
}
.switch__container .sec_super5-2 .sh-five,.switch__container .sec_super5-2 .sh-four{
    background-color:rgba(213,192,58,.29)
}
.switch__container .sec_super5-2 .sh-six{
    background-color:rgba(222,194,11,.71)
}
.switch__container .sec_super6-1{
    height:2.36rem;
    background-color:#fff;
    font-family:PingFang SC
}
.switch__container .sec_super6-1 .title{
    padding-top:.83rem;
    color:#111;
    font-size:.42rem;
    line-height:.72rem
}
.switch__container .sec_super6{
    position:relative;
    background-color:#fff;
    padding-bottom:1.5rem;
    font-family:PingFang SC
}
.switch__container .sec_super6 .title{
    padding:.83rem 0 .8rem;
    color:#111;
    font-size:.42rem;
    line-height:.56rem
}
.switch__container .sec_super6 .desc{
    font-size:.24rem;
    line-height:.36rem;
    color:#111
}
.switch__container .sec_super6 .content{
    width:16rem;
    margin:0 auto
}
.switch__container .sec_super6 .case1 .txtWrapper{
    padding:1.92rem 0 0 2.4rem
}
.switch__container .sec_super6 .case1 .title{
    padding:0;
    text-align:left
}
.switch__container .sec_super6 .case1 .desc{
    margin-top:.34rem;
    text-align:left
}
.switch__container .sec_super6 .case2 .desc{
    margin-top:.3rem;
    text-align:left
}
.switch__container .sec_super6 .case2 .txtWrapper{
    padding:2.09rem 0 0 2.01rem
}
.switch__container .sec_super6 .case2 .title{
    padding:0;
    text-align:left
}
.switch__container .sec_super6 .case{
    display:flex
}
.switch__container .sec_super6 .case>div{
    width:8rem;
    height:6rem
}
.switch__container .sec_super6 .case .txtWrapper{
    background-color:#f6f6f6
}
.switch__container .sec_super6 .case img{
    width:100%;
    height:100%
}
.switch__container .sec_super7-1{
    height:4.09rem;
    background-color:#f9f9f9
}
.switch__container .sec_super7-1 .title{
    padding:1.28rem 0 .3rem
}
.switch__container .sec_super7-1 .desc{
    padding-bottom:1.2rem
}
.switch__container .sec_super7{
    height:20.74rem;
    background-color:#f9f9f9;
    position:relative
}
.switch__container .sec_super7 .after{
    position:absolute;
    bottom:.86rem;
    left:50%;
    transform:translateX(-50%);
    font-size:.18rem;
    line-height:.37rem;
    color:#111
}
.switch__container .sec_super7 .content{
    width:16.53rem;
    margin:0 auto;
    position:relative
}
.switch__container .sec_super7 .content>div{
    float:left;
    position:relative
}
.switch__container .sec_super7 .content>div>div{
    position:absolute;
    font-size:.2rem;
    color:#111;
    line-height:.26rem
}
.switch__container .sec_super7 .content .sec_super7_2{
    margin-top:1.74rem;
    margin-left:.6rem
}
.switch__container .sec_super7 .content .sec_super7_3{
    margin-left:3.53rem;
    margin-top:1.59rem
}
.switch__container .sec_super7 .content .sec_super7_4{
    margin-top:-5.1rem
}
.switch__container .sec_super7 .triangle-left{
    width:0;
    height:0;
    border-width:.055rem .11rem;
    border-color:transparent #111 transparent transparent;
    border-style:solid;
    display:inline-block
}
.switch__container .sec_super7 .triangle-down,.switch__container .sec_super7 .triangle-up{
    width:0;
    height:0;
    border-width:.11rem .055rem;
    border-style:solid;
    display:inline-block
}
.switch__container .sec_super7 .triangle-up{
    border-color:transparent transparent #111
}
.switch__container .sec_super7 .triangle-down{
    border-color:#111 transparent transparent;
    vertical-align:-.08rem
}
.switch__container .sec_super7 b{
    margin-right:.08rem
}
.switch__container .sec_super7 .sec_super7_1{
    display:inline-block;
    position:relative
}
.switch__container .sec_super7 .sec_super7_1 img{
    width:6.5rem;
    height:9.6rem
}
.switch__container .sec_super7 .sec_super7_1>div{
    right:-1rem;
    top:0
}
.switch__container .sec_super7 .sec_super7_2{
    display:inline-block;
    position:relative
}
.switch__container .sec_super7 .sec_super7_2 img{
    width:9.43rem;
    height:6.12rem
}
.switch__container .sec_super7 .sec_super7_2>div{
    left:0;
    bottom:-.56rem
}
.switch__container .sec_super7 .sec_super7_3{
    display:inline-block
}
.switch__container .sec_super7 .sec_super7_3 img{
    width:6.5rem;
    height:8rem
}
.switch__container .sec_super7 .sec_super7_3>div{
    left:0;
    bottom:-.56rem
}
.switch__container .sec_super7 .sec_super7_4{
    display:inline-block
}
.switch__container .sec_super7 .sec_super7_4 img{
    width:9.43rem;
    height:5.9rem
}
.switch__container .sec_super7 .sec_super7_4>div{
    left:0;
    top:-.56rem
}
.switch__container .sec_super8{
    height:9.6rem;
    background-color:#fff
}
.switch__container .sec_super8 .title{
    padding:1.1rem 0 .3rem
}
.switch__container .sec_super8 .sec_super8_ani{
    margin:1.45rem auto 0;
    position:relative
}
.switch__container .sec_super8 .sec_super8_1,.switch__container .sec_super8 .sec_super8_2,.switch__container .sec_super8 .sec_super8_3{
    position:absolute;
    left:50%;
    transform:translateX(-50%)
}
.switch__container .sec_super8 .sec_super8_1{
    top:0;
    width:13.4rem;
    height:1.14rem;
    background:url(img/sec8_1-6f7a2de589.png) center no-repeat;
    background-size:cover;
    z-index:1
}
.switch__container .sec_super8 .sec_super8_2{
    top:2.33rem;
    width:13.77rem;
    height:1.33rem;
    background:url(img/sec8_2-7417f7efaf.png) center no-repeat;
    background-size:cover;
    opacity:1
}
.switch__container .sec_super8 .sec_super8_3{
    top:2.33rem;
    width:13.77rem;
    height:1.33rem;
    background:url(img/sec8_3-0f348a9813.png) center no-repeat;
    background-size:cover;
    opacity:0;
    z-index:8
}
.switch__container .sec_super9{
    height:10.8rem;
    background:url(img/sec9-d39ea2e430.png) center no-repeat #000;
    background-size:cover;
    padding-top:5.07rem
}
.switch__container .sec_super9 .title{
    color:#fff
}
.switch__container .sec_super10animated{
    animation-fill-mode:forwards;
    animation-duration:2.5s;
    animation-timing-function:ease-in-out
}
.switch__container .sec_super10{
    height:13.64rem;
    background-color:#000;
    position:relative
}
.switch__container .sec_super10 .title{
    padding:1.28rem 0 .37rem;
    color:#fff
}
.switch__container .sec_super10 .desc{
    padding-bottom:.92rem;
    color:#fff
}
.switch__container .sec_super10 .content{
    position:relative;
    width:13.47rem;
    height:5.2rem;
    margin:0 auto
}
.switch__container .sec_super10 .line{
    width:.01rem;
    background-color:#b5b5b5;
    z-index:333;
    position:relative;
    white-space:nowrap;
    text-align:center;
    opacity:.45
}
.switch__container .sec_super10 .line P{
    position:absolute;
    color:#fff;
    font-size:.18rem;
    bottom:-.57rem;
    transform:translateX(-50%);
    text-align:center
}
.switch__container .sec_super10 .product{
    position:relative;
    z-index:0
}
.switch__container .sec_super10 .product .icon{
    position:absolute
}
.switch__container .sec_super10 .product .four{
    top:0;
    width:1.31rem;
    height:5.2rem;
    background:url(img/sec10_4-27c9da4c05.png) center no-repeat;
    background-size:cover;
    left:10.4rem;
    z-index:7
}
.switch__container .sec_super10 .product .five{
    top:3.52rem;
    width:1.05rem;
    height:1.15rem;
    background:url(img/sec10_5-13642351d0.png) center no-repeat;
    background-size:cover;
    left:10.4rem;
    z-index:6
}
.switch__container .sec_super10 .product .six{
    top:0;
    left:10.4rem;
    width:1.6rem;
    height:5.2rem;
    background:url(img/sec10_6-9de7366f50.png) center no-repeat;
    background-size:cover;
    z-index:5
}
.switch__container .sec_super10 .product .one{
    top:3.35rem;
    left:9.8rem;
    width:1.55rem;
    height:1.17rem;
    background:url(img/sec10_1-fa98ca26d6.png) center no-repeat;
    background-size:cover;
    opacity:0;
    z-index:4
}
.switch__container .sec_super10 .product .two{
    top:.78rem;
    left:9.96rem;
    width:1.42rem;
    height:3.82rem;
    background:url(img/sec10_2-24f5c15fe4.png) center no-repeat;
    background-size:cover;
    opacity:0;
    z-index:3
}
.switch__container .sec_super10 .product .three{
    top:.93rem;
    left:9.96rem;
    width:1.93rem;
    height:3.69rem;
    background:url(img/sec10_3-bbb3de2b31.png) center no-repeat;
    background-size:cover;
    opacity:0;
    z-index:2
}
.switch__container .sec_super10 .product .seven{
    top:.35rem;
    left:10.4rem;
    width:3.07rem;
    height:4.82rem;
    background:url(img/sec10_7-9779bd818e.png) center no-repeat;
    background-size:cover;
    z-index:1
}
.switch__container .sec_super10 .after{
    position:absolute;
    bottom:1.58rem;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    color:#fff;
    opacity:.31;
    font-size:.16rem
}
.switch__container .sec_super10 .line1{
    height:1.65rem;
    left:3.62rem;
    bottom:-4.66rem
}
.switch__container .sec_super10 .line2{
    height:1.84rem;
    left:7.3rem;
    bottom:-2.84rem;
    z-index:3
}
.switch__container .sec_super10 .line3{
    height:1.94rem;
    left:9.11rem;
    bottom:-.89rem
}
.switch__container .sec_super10 .line4{
    height:1.63rem;
    left:11.19rem;
    bottom:.75rem
}
.switch__container .line-delay-1{
    animation-delay:2.5s
}
.switch__container .sec_super11{
    height:10.79rem;
    background:url(img/sec11-74fd740a50.png) center no-repeat #000;
    background-size:cover;
    position:relative
}
.switch__container .sec_super11 .title{
    color:#fff;
    font-size:.48rem;
    font-weight:800;
    line-height:.77rem;
    padding:2.81rem 0 .3rem
}
.switch__container .sec_super11 .desc{
    color:#fff;
    font-size:.2rem;
    line-height:.32rem
}
.switch__container .sec_super11 .logo{
    display:flex;
    width:10.62rem;
    margin:1.16rem auto 0;
    justify-content:space-between
}
.switch__container .sec_super11 .logo>div{
    text-align:center
}
.switch__container .sec_super11 .logo>div:nth-child(1)>img{
    width:.58rem;
    height:.58rem
}
.switch__container .sec_super11 .logo>div:nth-child(1)>p{
    margin-top:.26rem
}
.switch__container .sec_super11 .logo>div:nth-child(2)>img{
    width:.49rem;
    height:.53rem
}
.switch__container .sec_super11 .logo>div:nth-child(2)>p{
    margin-top:.28rem
}
.switch__container .sec_super11 .logo>div:nth-child(3)>img{
    width:.3rem;
    height:.5rem
}
.switch__container .sec_super11 .logo>div:nth-child(3)>p{
    margin-top:.31rem
}
.switch__container .sec_super11 .logo>div:nth-child(4)>img{
    width:.43rem;
    height:.52rem
}
.switch__container .sec_super11 .logo>div:nth-child(4)>p{
    margin-top:.29rem
}
.switch__container .sec_super11 .logo>div:nth-child(5)>img{
    width:.46rem;
    height:.36rem;
    margin-top:.08rem
}
.switch__container .sec_super11 .logo>div:nth-child(5)>p{
    margin-top:.37rem
}
.switch__container .sec_super11 .logo p{
    font-size:.18rem;
    font-weight:500;
    color:#fff
}