.smoke_sensor_container {
  width: 1200px;
  margin: 0 auto;
}

.smoke_sensor_sec1 {
  height: 990px;
  background: url(./../../assets/smoke_bg_01-ffd5645af7.jpg) center center no-repeat;
  text-align: center;
}

.smoke_sensor_sec1 h1 {
  font-size: 42px;
  color: #333;
  text-align: center;
  margin-bottom: 64px;
  padding-top: 215px;
}

.smoke_sensor_sec2 {
  height: 934px;
  background: url(./../../assets/smoke_bg_02-f97e5b7867.jpg) center center no-repeat;
  text-align: center;
}

.smoke_sensor_sec2 h1 {
  padding-top: 120px;
  font-size: 36px;
  line-height: 30px;
  color: #fff;
}

.smoke_sensor_sec2 p {
  margin-top: 48px;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.smoke_sensor_sec3 h1,
.smoke_sensor_sec4 h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
}

.smoke_sensor_sec3 {
  height: 960px;
  background: url(./../../assets/smoke_bg_03-983f1d4a75.jpg) center center no-repeat;
  text-align: center;
}

.smoke_sensor_sec3 h1 {
  padding-top: 626px;
  color: #333;
}

.smoke_sensor_sec4 {
  height: 950px;
  background: url(./../../assets/smoke_bg_04-8fbb547dae.jpg) center center no-repeat;
  text-align: center;
}

.smoke_sensor_sec4 h1 {
  padding-top: 64px;
  color: #333;
}

.smoke_sensor_sec4 p {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  margin-top: 10px;
}

.smoke_sensor_sec5 {
  height: 957px;
  background: url(./../../assets/smoke_bg_05-b5956b9f13.jpg) center center no-repeat;
  text-align: center;
}

.smoke_sensor_sec5 h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  color: #fff;
  padding-top: 90px;
}

.smoke_sensor_sec5 p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.smoke_sensor_sec6 {
  height: 959px;
  background: url(./../../assets/smoke_bg_06-e86a658484.jpg) center center no-repeat;
}

.smoke_sensor_sec6 .smoke_sensor_container .txtbox {
  padding-top: 346px;
  padding-left: 660px;
  width: 580px;
  color: #333;
}

.smoke_sensor_sec6 .smoke_sensor_container .txtbox h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
}

.smoke_sensor_sec6 .smoke_sensor_container .txtbox p {
  margin-top: 50px;
  font-size: 18px;
  line-height: 32px;
}

.smoke_sensor_sec7 {
  background-color: #f7f7f7;
}

.smoke_sensor_sec7 h1 {
  font-size: 36px;
  font-weight: 400;
  color: #333;
  padding-top: 120px;
  text-align: center;
}

.smoke_sensor_sec7 ul > li {
  width: 25%;
  float: left;
  padding: 170px 0 270px;
}

.smoke_sensor_sec7 ul > li > i {
  width: 146px;
  height: 146px;
  display: block;
  margin: 0 auto;
}

.smoke_sensor_sec7 ul > li > i.gss7_icon1 {
  background: url(./../../assets/icon_01-71a5e713c3.png) center center no-repeat;
}

.smoke_sensor_sec7 ul > li > i.gss7_icon2 {
  background: url(./../../assets/icon_02-ecbd0c549e.png) center center no-repeat;
}

.smoke_sensor_sec7 ul > li > i.gss7_icon3 {
  background: url(./../../assets/icon_03-a1c8bfb0fb.png) center center no-repeat;
}

.smoke_sensor_sec7 ul > li > i.gss7_icon4 {
  background: url(./../../assets/icon_04-41e69a77fb.png) center center no-repeat;
}

.smoke_sensor_sec7 ul > li > p {
  font-size: 18px;
  color: #333;
  margin-top: 40px;
  text-align: center;
}

.clear:after {
  visibility: hidden;
}

.clear:after {
  display: block;
  clear: both;
  content: "\0020";
  height: 0;
}
