
.clear:after{
    visibility:hidden
}

.clear:after{
    display:block;
    clear:both;
    content:'\0020';
    height:0
}

 .sp20_sec2,.sp20_sec_1{
    width:100%;
    height:960px
}
.sp20_sec2,.sp20_sec3,.sp20_sec_4,.sp20_sec_6{
    overflow:hidden
}
.sp20_sec_1{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_01-62cfceacad.jpg) center no-repeat
}
.sp20_sec_1 p{
    font-size:42px;
    color:#333;
    text-align:center;
    margin-bottom:57px;
    padding-top:172px
}
.sp20_sec2{
    position:relative
}
.sp20_sec2 .shadow_bg{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/b_shadow_03-4c9018b644.png) no-repeat;
    width:1181px;
    position:absolute;
    left:19.27%;
    height:74px;
    top:42px;
    z-index:10;
    text-align:center;
    line-height:74px;
    font-size:30px;
    color:#fff
}
.sp20_sec2 .bg{
    width:25%;
    float:left;
    background-size:cover;
    background-repeat:no-repeat;
    height:960px;
    position:relative;
    filter:grayscale(1);
    cursor:pointer;
    background-position:center
}
.sp20_sec2 .bg .shadow{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    background:rgba(0,0,0,.3)
}
.sp20_sec2 .bg .shadow p{
    padding-top:450px;
    color:#fff;
    font-size:24px
}
.sp20_sec2 .bg1{
    background-image:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_02-8f458f2837.jpg)
}
.sp20_sec2 .bg2{
    background-image:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_03-20d0a57489.jpg)
}
.sp20_sec2 .bg3{
    background-image:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_04-0f833a8500.jpg)
}
.sp20_sec2 .bg4{
    background-image:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_05-f5ff4677a4.jpg)
}
.sp20_sec3{
    width:100%;
    height:959px;
    background-color:#eaeaea;
    text-align:center
}
.sp20_sec3 .pro_sp20{
    position:relative;
    width:994px;
    height:1087px;
    margin:-380px auto 0
}
.sp20_sec3 .pro_sp20 .flash{
    width:78px;
    height:95px;
    position:absolute;
    right:272px;
    top:613px;
    box-shadow:0 0 100px 10px transparent;
    border-radius:30px;
    animation:flash 1s linear .2s infinite alternate;
    -webkit-animation:flash 1s linear .2s infinite alternate;
    -moz-animation:flash 1s linear .2s infinite alternate;
    -o-animation:flash 1s linear .2s infinite alternate
}
.sp20_sec3 .l_p{
    font-size:36px;
    margin-bottom:45px;
    color:#333
}
.sp20_sec3 .row{
    width:561px;
    height:127px;
    margin:0 auto
}
.sp20_sec3 .row .circle{
    width:127px;
    height:127px;
    margin-right:90px;
    float:left;
    background-image:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/icons-0b697ac426.png)
}
.sp20_sec3 .row .cir_1{
    background-position:0 -127px
}
.sp20_sec3 .row .cir_1 p{
    padding-top:38px;
    color:#fff
}
.sp20_sec3 .row .cir_2 p,.sp20_sec3 .row .cir_3 p{
    padding-top:45px;
    color:#fff
}
.sp20_sec3 .row .cir_2{
    background-position:0 -254px
}
.sp20_sec3 .row .cir_3{
    background-position:0 0
}
.sp20_sec_4{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_08-47f2feccda.jpg) center no-repeat;
    width:100%;
    height:951px;
    text-align:center
}
.sp20_sec_4 .tit{
    font-size:36px;
    text-align:center;
    color:#333;
    padding-top:76px;
    margin-bottom:45px
}
.sp20_sec_4 .cont{
    font-size:16px;
    text-align:center;
    color:#888;
    margin:0 auto 210px;
    width:928px
}
.sp20_sec_4 img{
    opacity:0
}
.sp20_sec_5{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_09-ba38ee1eac.jpg) center no-repeat;
    width:100%;
    height:959px
}
.sp20_sec_5 .content{
    width:1280px;
    margin:0 auto;
    position:relative
}
.sp20_sec_5 .content .f_p{
    font-size:36px;
    color:#333;
    margin-bottom:40px;
    padding-top:290px
}
.sp20_sec_5 .content .s_p{
    font-size:16px;
    color:#333;
    width:420px
}
.sp20_sec_5 .content .pop{
    position:absolute;
    right:420px;
    opacity:0
}
.sp20_sec_5 .content .pop1{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/pop1_03-4bfce380a8.png) no-repeat;
    width:406px;
    height:46px;
    top:374px
}
.sp20_sec_5 .content .pop2{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/pop2-11914a4edf.png) no-repeat;
    width:314px;
    height:46px;
    top:496px
}
.sp20_sec_5 .content .pop3{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/pop3-d5b5e1f27e.png) no-repeat;
    width:382px;
    height:46px;
    top:607px
}
.sp20_sec_6{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/bg_10-8d3ad79d2d.jpg) center no-repeat;
    width:100%;
    height:960px;
    text-align:center
}
.sp20_sec_6 .tit{
    font-size:36px;
    text-align:center;
    color:#fff;
    padding-top:76px;
    margin-bottom:45px
}
.sp20_sec_6 .cont{
    font-size:16px;
    text-align:center;
    color:#fff;
    margin:0 auto 210px;
    width:928px
}
.sp20_sec_6 img{
    opacity:0
}
.sp20_sec_7{
    width:100%;
    text-align:center;
    background:#f6f6f6;
    padding:120px 0 100px
}
.sp20_sec_7>p{
    font-size:34px;
    color:#333;
    margin-bottom:175px;
    font-weight:300
}
.sp20_sec_7 .content{
    width:1260px;
    height:auto;
    margin:0 auto
}
.sp20_sec_7 .content ul li{
    float:left;
    width:240px;
    margin-right:60px
}
.sp20_sec_7 .content ul li .icon{
    width:146px;
    height:146px;
    margin:0 auto 30px;
    border-radius:50%;
    background-image:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/icons_2-784bba7c8a.png)
}
.sp20_sec_7 .content ul li .icon1{
    background-position:0 -292px
}
.sp20_sec_7 .content ul li .icon2{
    background-position:0 -438px
}
.sp20_sec_7 .content ul li .icon3{
    background-position:0 0
}
.sp20_sec_7 .content ul li .icon4{
    background-position:0 -146px
}
.sp20_sec_8{
    height:900px;
    width:100%;
    background:#fff
}
.sp20_sec_8 .jq_container{
    text-align:center;
    padding-top:136px;
    height:auto;
    width:1190px;
    margin:0 auto
}
.sp20_sec_8 .jq_container .jq_title{
    margin-bottom:46px;
    font-size:30px;
    color:#333
}
.sp20_sec_8 .jq_container .jq_line{
    display:block;
    width:1150px;
    height:9px;
    clear:both;
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/line-5011e9853a.png) center no-repeat
}
.sp20_sec_8 .jq_container .jq_content_title{
    float:left;
    width:100%;
    padding-top:24px
}
.sp20_sec_8 .jq_container .jq_content_title>p{
    color:#333;
    font-size:18px;
    margin-left:86px;
    float:left
}
.sp20_sec_8 .jq_container .jq_content_title .icon{
    width:236px;
    margin:0 auto
}
.sp20_sec_8 .jq_container .jq_content_title .icon div{
    background:url(https://static.orvibo.com/guanwang_second/front/en/images/co_alarm/pro_sp20-c983368609.jpg) center no-repeat;
    width:170px;
    height:166px;
    margin:0 auto;
    background-size:contain
}
.sp20_sec_8 .jq_container .jq_table .jq_left,.sp20_sec_8 .jq_container .jq_table .jq_right{
    float:left;
    width:50%
}
.sp20_sec_8 .jq_container .jq_content_title .icon p{
    font-size:16px;
    color:#666;
    margin-top:20px;
    margin-bottom:20px
}
.sp20_sec_8 .jq_container .jq_table p{
    font-size:18px;
    color:#333;
    line-height:48px;
    text-align:left
}
.sp20_sec_8 .jq_container .jq_table p em{
    color:#888
}
.sp20_sec_8 .jq_container .jq_table .jq_left p{
    padding-left:92px
}
.sp20_sec_8 .jq_container .jq_table .jq_right p{
    padding-left:148px
}