/* .slideblocker {
  display: block;
}
#slidy-container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.img-slider .slider-container {
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 26s infinite;
}
.img-slider .slider-container .slide {
  position: relative;
  width: 33.33333333%;
  height: 100%;
  float: left;
  overflow: hidden;
}
.img-slider .slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
}
@keyframes slider {
  0%,
  25%,
  100% {
    left: 0;
  }

  30%,
  55% {
    left: -100%;
  }

  60%,
  85% {
    left: -200%;
  }
} */

.slider {
  margin: 0;
  max-width: 100%;
}

.slide_viewer {
  height: 758px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-image: url("./../../assets/sec2_2-3d2d369dc4.jpg");
}

.slide:nth-of-type(2) {
  background-image: url("./../../assets/sec2_1-a63e90a5e2.jpg");
}

.slide:nth-of-type(3) {
  background-image: url("./../../assets/752287_middle.jpg");
}

.slide:nth-of-type(4) {
  background-image: url("./../../assets/sec6_5-fdaf076235.png");
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

.slide1 {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide1:first-child {
  display: block;
}

.slide1:nth-of-type(1) {
  background-image: url("./../../assets/0.jpg");
}

.slide1:nth-of-type(2) {
  background-image: url("./../../assets/1.jpg");
}

.slide1:nth-of-type(3) {
  background-image: url("./../../assets/2.jpg");
}

.slide1:nth-of-type(4) {
  background-image: url("./../../assets/1.png");
}

.responsiveslider {
  width: 100%;
  height: auto;
}