.slider1 {
  margin: 0;
  max-width: 100%;
}

.slide_viewer1 {
  height: 960px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.slide_group1 {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide1 {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide1:first-child {
  display: block;
}

.slide1:nth-of-type(1) {
  background-image: url("./0.jpg");
}

.slide1:nth-of-type(2) {
  background-image: url("./1.jpg");
}

.slide1:nth-of-type(3) {
  background-image: url("./2.jpg");
}

.slide1:nth-of-type(4) {
  background-image: url("./1.png");
}

.slide_buttons1 {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn1 {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn1.active, .slide_btn1:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav1 {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -340px;
}