

::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

.u-text a {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	text-transform: inherit;
}

.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a {
	color: inherit;
}

.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
	text-decoration: none;
}

.u-link,


.u-link {
	display: table;
	border-style: solid;
	border-bottom-width: 0;
	white-space: nowrap;
	align-self: flex-start;
}

.u-link,
.u-link:hover,
.u-link:focus {
	text-decoration: none;
}

.u-link:focus,
.u-link:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


/* ********  end of spacing ******** */

.u-clearfix:after,
.u-clearfix:before {
	content: '';
	display: table;
}

.u-clearfix:after {
	clear: both;
}

.u-opacity-25,
.u-opacity-25:before {
	opacity: 0.25;
}

.u-image {
	object-fit: cover;
	display: block;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}



.u-layout-cell.u-image {
	overflow: visible;
}

.u-sheet {
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.u-sheet {
		width: 1140px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.u-sheet {
		width: 940px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-sheet {
		width: 720px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-sheet {
		width: 540px;
	}
}

@media (max-width: 575px) {
	.u-sheet {
		width: 340px;
	}
}

.u-container-layout {
	position: relative;
	flex: 1;
	max-width: 100%;
}

.u-container-layout>* {
	position: relative;
}

.u-expanded-width {
	width: 100% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-expanded-width-md {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-expanded-width-sm {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (max-width: 575px) {
	.u-expanded-width-xs {
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (min-width: 1200px) {
	.u-expanded-height-xl {
		position: absolute !important;
		height: 100% !important;
		top: 0 !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.u-expanded-height-lg {
		position: absolute !important;
		height: 100% !important;
		top: 0 !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-expanded-height-md {
		position: absolute !important;
		height: 100% !important;
		top: 0 !important;
	}
}

@media (max-width: 575px) {
	.u-expanded-height-xs {
		position: absolute !important;
		height: 100% !important;
		top: 0 !important;
	}
}

.u-valign-middle {
	display: flex;
	flex-direction: column;
}

@media (min-width: 1200px) {
	.u-valign-middle-xl {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-valign-middle-md {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-valign-middle-sm,
	.u-valign-top-sm {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 575px) {
	.u-valign-top-xs {
		display: flex;
		flex-direction: column;
	}
}

.u-valign-middle>* {
	flex-shrink: 0;
}

.u-valign-middle {
	justify-content: center;
}

@media (min-width: 1200px) {
	.u-valign-middle-xl {
		justify-content: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-valign-middle-md {
		justify-content: center;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-valign-middle-sm {
		justify-content: center;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-valign-top-sm {
		justify-content: flex-start;
	}
}

@media (max-width: 575px) {
	.u-valign-top-xs {
		justify-content: flex-start;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout-row>* {
		min-width: 100%;
	}
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.u-layout-wrap:not(.u-layout-custom-sm) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}
}

@media (max-width: 575px) {
	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row>* {
		min-width: 100%;
	}
	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
		border-left: 0 !important;
		border-right: 0 !important;
	}
}

.u-layout-row>.u-size-60 {
	flex: 0 0 100%;
	max-width: 100%;
	min-width: 100%;
}

.u-layout-col>.u-size-60 {
	flex: 60 0 100%;
}

.u-layout-col>.u-size-36 {
	flex: 36 0 60%;
}

.u-layout-row>.u-size-34 {
	flex: 0 0 56.66666667%;
	max-width: 56.66666667%;
	min-width: 56.66666667%;
}

.u-layout-row>.u-size-31 {
	flex: 0 0 51.66666667%;
	max-width: 51.66666667%;
	min-width: 51.66666667%;
}

.u-layout-row>.u-size-30 {
	flex: 0 0 50%;
	max-width: 50%;
	min-width: 50%;
}

.u-layout-col>.u-size-30 {
	flex: 30 0 50%;
}

.u-layout-row>.u-size-29 {
	flex: 0 0 48.33333333%;
	max-width: 48.33333333%;
	min-width: 48.33333333%;
}

.u-layout-row>.u-size-26 {
	flex: 0 0 43.33333333%;
	max-width: 43.33333333%;
	min-width: 43.33333333%;
}

.u-layout-col>.u-size-24 {
	flex: 24 0 40%;
}

.u-layout-row>.u-size-20 {
	flex: 0 0 33.33333333%;
	max-width: 33.33333333%;
	min-width: 33.33333333%;
}

.u-layout-col>.u-size-20 {
	flex: 20 0 33.33333333%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-layout-row>.u-size-60-md {
		flex: 0 0 100%;
		max-width: 100%;
		min-width: 100%;
	}
	.u-layout-row>.u-size-30-md {
		flex: 0 0 50%;
		max-width: 50%;
		min-width: 50%;
	}
	.u-layout-col>.u-size-20-md {
		flex: 20 0 33.33333333%;
	}
}

.u-gutter-30 .u-layout {
	margin: -15px;
}

.u-gutter-30 .u-layout .u-layout-cell {
	border: 15px solid transparent;
}

.u-gutter-0 .u-layout {
	margin: 0px;
}

.u-gutter-0 .u-layout .u-layout-cell {
	border: 0px solid transparent;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.u-layout-col>* {
		flex-basis: auto !important;
	}
}

.u-layout-col,
.u-layout-row,
.u-layout-col>* {
	display: flex;
}

.u-layout-col,
.u-layout-row {
	flex: 1 1 100%;
}

.u-layout-row>* {
	max-height: 100%;
	min-height: -webkit-fit-content;
	min-height: fit-content;
}

.u-layout-col>* {
	min-height: -webkit-fit-content;
	min-height: fit-content;
	max-width: 100%;
}

.u-layout-col {
	flex-direction: column;
	min-height: 100%;
}

.u-layout-row {
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100%;
	max-width: 100%;
}

.u-layout-cell {
	position: relative;
	display: flex;
	background-clip: padding-box;
	background-origin: padding-box;
}

.u-sheet:not(.u-image):not(.u-video) {
	pointer-events: none;
}

.u-sheet:not(.u-image):not(.u-video)>* {
	pointer-events: auto;
	pointer-events: initial;
}

@supports (position: sticky) {}

@supports (position: -webkit-sticky) {}

.u-group .u-container-layout>* {
	position: relative;
}

.u-group {
	display: flex;
}

.u-line.u-line-vertical {
	border-right-width: 0;
	border-bottom-width: 0;
	border-top-width: 0;
}

[class*="u-border-"]:not(.u-shape-svg) {
	stroke: none;
}

.u-icon {
	display: block;
	line-height: 0;
	border-width: 0px;
}

.u-svg-link {
	width: 100%;
	height: 100%;
	fill: currentColor;
}

.u-svg-content {
	width: 0;
	height: 0;
}

.u-icon-circle {
	border-radius: 50%;
}


.u-body {
	font-size: 1rem;
	line-height: 1.6;
}

.u-body h1,
.u-body h2,
.u-body h4 {
	padding: 0;
}



.u-align-left {
	text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
	.u-align-left-md {
		text-align: left;
	}
}

.u-align-center {
	text-align: center;
}

.u-container-style:not([class*="u-align-"]) {
	text-align: left;
}

.u-text {
	word-wrap: break-word;
	position: relative;
}

.u-layout-cell {
	background-color: transparent !important;
	opacity: 1;
}

.u-layout-cell:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

[class*="u-border-"] {
	border-style: solid;
}

.u-border-9 {
	border-width: 9px;
}

.u-body {
	font-family: 'Open Sans', sans-serif;
}


.u-image {
	color: #111111;
}

.u-body {
	color: #111111;
	background-color: #ffffff;
}

.u-custom-font.u-heading-font {
	font-family: Roboto, sans-serif !important;
}

.u-palette-1-light-2 {
	color: #111111;
	background-color: lightseagreen;
}

.u-palette-1-light-3 {
	color: #111111;
	background-color: #e9f2fa;
}

.u-palette-1-base {
	color: #ffffff;
	background-color: #009073;
}

.u-palette-2-light-1 {
	color: #ffffff;
	background-color: #478ac9;
}

.u-white,
.u-container-style.u-white:before {
	color: #111111;
	background-color: #ffffff;
}

.u-black,
.u-container-style.u-black:before {
	color: #ffffff;
	background-color: #000000;
}

.u-border-palette-1-base {
	border-color: #009073;
	stroke: #478ac9;
}

.u-text-palette-1-base {
	color: #478ac9 !important;
}

.u-text-palette-1-base svg {
	fill: #478ac9;
}

h1.u-title {
	font-weight: 400;
	font-size: 4.5rem;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2:not(.u-subtitle) {
	font-weight: 400;
	font-size: 2.25rem;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 20px;
}

h4 {
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 20px;
}

p.u-large-text {
	font-size: 1.25rem;
	margin-top: 20px;
	margin-bottom: 20px;
}

p:not(.u-text-variant) {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	h1.u-title {
		font-size: 3.75rem;
	}
}

@media (max-width: 575px) {
	h1.u-title {
		font-size: 3rem;
	}
}

@media (max-width: 575px) {
	h2:not(.u-subtitle) {
		font-size: 1.5rem;
	}
}


.u-black a {
	color: #adcce9;
}

.u-black a:hover {
	color: #a1a1a1;
}


.u-section-1 .u-sheet-1 {
	min-height: 799px;
}

.u-section-1 .u-layout-wrap-1 {
	margin: 60px 0;
}

.u-section-1 .u-layout-cell-1 {
	min-height: 712px;
	background-image: none;
}

.u-section-1 .u-container-layout-1 {
	padding-left: 30px;
}

.u-section-1 .u-line-1 {
	height: 70px;
	width: 9px;
	transform-origin: center top 0;
	margin: 70px auto 0 0;
}

.u-section-1 .u-text-1 {
	font-size: 3.75rem;
	margin: 40px 30px 0 0;
}

.u-section-1 .u-text-2 {
	margin: 16px 30px 0 0;
}

.u-section-1 .u-layout-cell-2 {
	min-height: 227px;
}

.u-section-1 .u-image-1 {
	width: 434px;
	height: 363px;
	object-position: 50% 0%;
	background-position: 50% 0%;
	margin: 0 0 -136px auto;
}

.u-section-1 .u-layout-cell-3 {
	min-height: 253px;
}

.u-section-1 .u-image-2 {
	width: 523px;
	height: 397px;
	object-position: 50% 22.76%;
	background-position: 50% 22.76%;
	margin: 0 auto -144px 0;
}

.u-section-1 .u-layout-cell-4 {
	min-height: 232px;
}

.u-section-1 .u-image-3 {
	width: 300px;
	left: auto;
	right: 0;
}

@media (max-width: 1199px) {
	.u-section-1 .u-layout-wrap-1 {
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-1 .u-container-layout-1 {
		padding-left: 25px;
	}
	.u-section-1 .u-line-1 {
		width: 7px;
		transform: rotate(360deg);
	}
	.u-section-1 .u-text-1 {
		font-size: 3rem;
		margin-right: 25px;
	}
	.u-section-1 .u-text-2 {
		margin-right: 25px;
	}
	.u-section-1 .u-image-1 {
		width: 357px;
	}
	.u-section-1 .u-image-2 {
		width: 431px;
	}
	.u-section-1 .u-image-3 {
		width: 284px;
	}
}

@media (max-width: 991px) {
	.u-section-1 .u-container-layout-1 {
		padding-left: 19px;
	}
	.u-section-1 .u-line-1 {
		width: 6px;
	}
	.u-section-1 .u-text-1 {
		font-size: 2.25rem;
		margin-right: 19px;
	}
	.u-section-1 .u-text-2 {
		margin-right: 19px;
	}
	.u-section-1 .u-image-1 {
		width: 274px;
	}
	.u-section-1 .u-image-2 {
		width: 330px;
	}
	.u-section-1 .u-image-3 {
		width: 217px;
	}
}

@media (max-width: 767px) {
	.u-section-1 .u-sheet-1 {
		min-height: 1200px;
	}
	.u-section-1 .u-container-layout-1 {
		padding-left: 14px;
	}
	.u-section-1 .u-line-1 {
		width: 5px;
	}
	.u-section-1 .u-text-1 {
		margin-right: 14px;
		font-size: 4.5rem;
	}
	.u-section-1 .u-text-2 {
		margin-right: 14px;
	}
	.u-section-1 .u-image-1 {
		width: 353px;
		height: 353px;
		margin-top: -81px;
		margin-bottom: -44px;
	}
	.u-section-1 .u-layout-cell-3 {
		min-height: 266px;
	}
	.u-section-1 .u-image-2 {
		width: 382px;
		height: 388px;
		margin-top: -96px;
		margin-bottom: -26px;
	}
	.u-section-1 .u-layout-cell-4 {
		min-height: 105px;
	}
	.u-section-1 .u-image-3 {
		width: 264px;
		height: 200px;
		left: auto;
		bottom: auto;
		right: auto;
		top: auto;
		margin: -95px 0 0 auto;
	}
}

@media (max-width: 575px) {
	.u-section-1 .u-container-layout-1 {
		padding-left: 9px;
	}
	.u-section-1 .u-line-1 {
		width: 4px;
	}
	.u-section-1 .u-text-1 {
		font-size: 2.25rem;
		margin-right: 9px;
	}
	.u-section-1 .u-text-2 {
		margin-right: 9px;
	}
	.u-section-1 .u-layout-cell-2 {
		min-height: 262px;
	}
	.u-section-1 .u-image-1 {
		width: 286px;
		height: 343px;
		margin-top: -70px;
		margin-bottom: -11px;
	}
	.u-section-1 .u-image-2 {
		width: 268px;
		height: 393px;
		margin-bottom: -31px;
	}
	.u-section-1 .u-layout-cell-4 {
		min-height: 250px;
	}
	.u-section-1 .u-image-3 {
		width: 294px;
		left: auto;
		right: 0;
		height: auto;
		margin: initial;
	}
}

.u-section-2 .u-sheet-1 {
	min-height: 660px;
}

.u-section-2 .u-image-1 {
	width: 689px;
	height: 572px;
	margin: -79px 451px 0 auto;
}

.u-section-2 .u-image-2 {
	width: 411px;
	height: 355px;
	margin: -218px 288px 0 auto;
}

.u-section-2 .u-group-1 {
	width: 588px;
	min-height: 414px;
	margin: -601px 0 65px auto;
}

.u-section-2 .u-container-layout-1 {
	padding-left: 60px;
}

.u-section-2 .u-text-1 {
	position: relative;
	margin: 54px 0 0;
}

.u-section-2 .u-text-2 {
	position: relative;
	margin: 20px 60px 0 0;
}

@media (max-width: 1199px) {
	.u-section-2 .u-sheet-1 {
		min-height: 687px;
	}
	.u-section-2 .u-image-1 {
		width: 568px;
		margin-right: 372px;
	}
	.u-section-2 .u-image-2 {
		width: 331px;
		margin-right: 245px;
	}
	.u-section-2 .u-group-1 {
		width: 485px;
		min-height: 510px;
		margin-bottom: 148px;
	}
	.u-section-2 .u-container-layout-1 {
		padding-left: 49px;
	}
	.u-section-2 .u-text-1 {
		margin-top: 70px;
		margin-right: 49px;
	}
	.u-section-2 .u-text-2 {
		margin-right: 29px;
		width: auto;
	}
}

@media (max-width: 991px) {
	.u-section-2 .u-sheet-1 {
		min-height: 745px;
	}
	.u-section-2 .u-image-1 {
		width: 532px;
		margin-right: auto;
		margin-left: 0;
	}
	.u-section-2 .u-image-2 {
		width: 368px;
		height: 304px;
		margin-top: -90px;
		margin-right: auto;
	}
	.u-section-2 .u-group-1 {
		width: 371px;
		min-height: 535px;
		margin-top: -678px;
		margin-bottom: 182px;
	}
	.u-section-2 .u-container-layout-1 {
		padding-left: 38px;
	}
	.u-section-2 .u-text-1 {
		margin-top: 55px;
		margin-right: 31px;
	}
	.u-section-2 .u-text-2 {
		margin-right: 38px;
	}
}

@media (max-width: 767px) {
	.u-section-2 .u-sheet-1 {
		min-height: 935px;
	}
	.u-section-2 .u-image-1 {
		width: 450px;
		height: 447px;
	}
	.u-section-2 .u-image-2 {
		width: 295px;
		height: 274px;
		margin-top: -95px;
		margin-right: 28px;
	}
	.u-section-2 .u-group-1 {
		min-height: 389px;
		margin-top: -46px;
		margin-bottom: 44px;
		margin-right: initial;
		margin-left: initial;
		width: auto;
	}
	.u-section-2 .u-container-layout-1 {
		padding-left: 28px;
	}
	.u-section-2 .u-text-1 {
		margin-top: 30px;
		margin-right: 0;
	}
	.u-section-2 .u-text-2 {
		margin-right: 32px;
		margin-bottom: 30px;
	}
}

@media (max-width: 575px) {
	.u-section-2 .u-sheet-1 {
		min-height: 1054px;
	}
	.u-section-2 .u-image-1 {
		width: 288px;
	}
	.u-section-2 .u-image-2 {
		width: 288px;
		height: 259px;
		margin-right: 0;
	}
	.u-section-2 .u-group-1 {
		min-height: 506px;
		margin-top: -31px;
		margin-bottom: 46px;
		width: auto;
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-2 .u-container-layout-1 {
		padding-left: 18px;
	}
	.u-section-2 .u-text-1 {
		margin-right: 20px;
	}
	.u-section-2 .u-text-2 {
		margin-right: 18px;
		margin-bottom: 0;
	}
}

.u-section-4 .u-sheet-1 {
	min-height: 757px;
}

.u-section-4 .u-shape-1 {
	width: 665px;
	height: 299px;
	margin: 398px auto 0 212px;
}

.u-section-4 .u-shape-2 {
	height: 363px;
	width: 485px;
	margin: -443px 0 0 auto;
}

.u-section-4 .u-image-1 {
	width: 507px;
	height: 369px;
	margin: -452px 77px 0 auto;
}

.u-section-4 .u-group-1 {
	min-height: 528px;
	width: 526px;
	margin: -444px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
	padding-left: 60px;
}

.u-section-4 .u-text-1 {
	font-size: 2.25rem;
	margin: 65px 60px 0 0;
}

.u-section-4 .u-text-2 {
	font-style: italic;
	margin: 20px 60px 0 0;
}

@media (max-width: 1199px) {
	.u-section-4 .u-sheet-1 {
		min-height: 698px;
	}
	.u-section-4 .u-shape-1 {
		width: 470px;
		height: 268px;
		margin-right: 217px;
		margin-left: 175px;
	}
	.u-section-4 .u-shape-2 {
		width: 400px;
		margin-top: -589px;
	}
	.u-section-4 .u-image-1 {
		width: 443px;
		margin-right: 63px;
	}
	.u-section-4 .u-group-1 {
		width: 434px;
	}
	.u-section-4 .u-container-layout-1 {
		padding-left: 49px;
	}
	.u-section-4 .u-text-1 {
		font-size: 1.875rem;
		margin-right: 49px;
		position: relative;
	}
	.u-section-4 .u-text-2 {
		margin-right: 49px;
		position: relative;
	}
}

@media (max-width: 991px) {
	.u-section-4 .u-sheet-1 {
		min-height: 699px;
	}
	.u-section-4 .u-shape-1 {
		width: 360px;
		height: 239px;
		margin-right: 166px;
		margin-left: 134px;
	}
	.u-section-4 .u-shape-2 {
		height: 464px;
		width: 316px;
		margin-top: -532px;
	}
	.u-section-4 .u-image-1 {
		width: 320px;
		margin-top: -416px;
		margin-right: 49px;
	}
	.u-section-4 .u-group-1 {
		width: 374px;
		margin-top: 20px;
		margin-right: 49px;
		margin-left: auto;
	}
	.u-section-4 .u-container-layout-1 {
		padding-left: 60px;
	}
	.u-section-4 .u-text-1 {
		margin-right: 38px;
	}
	.u-section-4 .u-text-2 {
		margin-right: 38px;
	}
}

@media (max-width: 767px) {
	.u-section-4 .u-sheet-1 {
		min-height: 1034px;
	}
	.u-section-4 .u-shape-1 {
		width: 387px;
		height: 335px;
		margin-right: auto;
		margin-left: 28px;
	}
	.u-section-4 .u-shape-2 {
		width: 443px;
		margin-top: -628px;
	}
	.u-section-4 .u-image-1 {
		width: 452px;
		margin-right: 36px;
	}
	.u-section-4 .u-group-1 {
		min-height: 379px;
		margin-top: 91px;
		margin-right: initial;
		margin-left: initial;
		width: auto;
	}
	.u-section-4 .u-container-layout-1 {
		padding-left: 28px;
	}
	.u-section-4 .u-text-1 {
		margin-top: 39px;
		margin-right: 28px;
	}
	.u-section-4 .u-text-2 {
		margin-right: 28px;
		margin-bottom: 15px;
	}
}

@media (max-width: 575px) {
	.u-section-4 .u-sheet-1 {
		min-height: 1057px;
	}
	.u-section-4 .u-shape-1 {
		width: 262px;
		height: 286px;
		margin-top: 361px;
		margin-left: 0;
	}
	.u-section-4 .u-shape-2 {
		height: 368px;
		width: 241px;
		margin-top: -526px;
		margin-right: 3px;
	}
	.u-section-4 .u-image-1 {
		width: 276px;
		height: 282px;
		margin-top: -330px;
		margin-right: auto;
		margin-left: 25px;
	}
	.u-section-4 .u-group-1 {
		min-height: 481px;
		width: 337px;
		margin-left: auto;
		margin-right: 20px;
	}
	.u-section-4 .u-container-layout-1 {
		padding-left: 18px;
	}
	.u-section-4 .u-text-1 {
		margin-top: 50px;
		margin-right: 18px;
	}
	.u-section-4 .u-text-2 {
		margin-right: 18px;
		margin-bottom: 25px;
	}
}

.u-section-5 .u-sheet-1 {
	min-height: 657px;
}

.u-section-5 .u-layout-wrap-1 {
	margin: 60px 0;
}

.u-section-5 .u-layout-cell-1 {
	min-height: 365px;
}

.u-section-5 .u-shape-1 {
	height: 269px;
	width: 311px;
	margin: 67px 0 0 auto;
}

.u-section-5 .u-image-1 {
	width: 308px;
	height: 263px;
	margin: -335px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
	min-height: 224px;
}

.u-section-5 .u-container-layout-2 {
	padding-left: 30px;
	padding-right: 30px;
}

.u-section-5 .u-text-1 {
	margin: 41px 0 0;
}

.u-section-5 .u-layout-cell-3 {
	min-height: 237px;
	background-image: none;
}

.u-section-5 .u-container-layout-3 {
	padding-left: 30px;
	padding-right: 30px;
}

.u-section-5 .u-text-2 {
	margin: 41px 0 0;
}

.u-section-5 .u-layout-cell-4 {
	min-height: 352px;
}

.u-section-5 .u-shape-2 {
	height: 256px;
	margin: 67px 0 0 49px;
}

.u-section-5 .u-image-2 {
	width: 308px;
	height: 263px;
	object-position: 0% 50%;
	background-position: 0% 50%;
	margin: -322px 0 59px;
}

.u-section-5 .u-layout-cell-5 {
	min-height: 365px;
}

.u-section-5 .u-container-layout-5 {
	padding-right: 0;
}

.u-section-5 .u-shape-3 {
	height: 269px;
	width: 311px;
	margin: 67px 0 0 auto;
}

.u-section-5 .u-image-3 {
	width: 308px;
	height: 263px;
	margin: -335px auto 0 0;
}

.u-section-5 .u-layout-cell-6 {
	min-height: 224px;
	background-image: none;
}

.u-section-5 .u-container-layout-6 {
	padding-left: 30px;
	padding-right: 30px;
}

.u-section-5 .u-text-3 {
	margin: 41px 0 0;
}

@media (max-width: 1199px) {
	.u-section-5 .u-sheet-1 {
		min-height: 627px;
	}
	.u-section-5 .u-layout-wrap-1 {
		margin-bottom: 30px;
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-5 .u-shape-1 {
		height: 226px;
		width: 244px;
		position: relative;
	}
	.u-section-5 .u-image-1 {
		width: 243px;
		margin-top: -294px;
		margin-bottom: 30px;
		position: relative;
	}
	.u-section-5 .u-container-layout-2 {
		padding-left: 25px;
		padding-right: 25px;
	}
	.u-section-5 .u-container-layout-3 {
		padding-left: 25px;
		padding-right: 25px;
	}
	.u-section-5 .u-shape-2 {
		height: 226px;
		margin-left: 40px;
		width: 244px;
		position: relative;
	}
	.u-section-5 .u-image-2 {
		width: 243px;
		margin-top: -294px;
		margin-bottom: 30px;
		position: relative;
	}
	.u-section-5 .u-shape-3 {
		height: 226px;
		width: 244px;
		position: relative;
	}
	.u-section-5 .u-image-3 {
		width: 243px;
		margin-top: -293px;
		margin-bottom: 30px;
		position: relative;
	}
	.u-section-5 .u-container-layout-6 {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: 991px) {
	.u-section-5 .u-sheet-1 {
		min-height: 651px;
	}
	.u-section-5 .u-layout-wrap-1 {
		margin-bottom: 54px;
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-5 .u-shape-1 {
		height: 244px;
		margin-right: initial;
		margin-left: initial;
		width: auto;
	}
	.u-section-5 .u-image-1 {
		width: 278px;
		height: 255px;
		margin-top: -311px;
		margin-bottom: 80px;
	}
	.u-section-5 .u-container-layout-2 {
		padding-left: 19px;
		padding-right: 19px;
	}
	.u-section-5 .u-container-layout-3 {
		padding-left: 19px;
		padding-right: 19px;
	}
	.u-section-5 .u-shape-2 {
		height: 245px;
		width: 292px;
		margin-top: 53px;
		margin-left: auto;
	}
	.u-section-5 .u-image-2 {
		width: 291px;
		height: 256px;
		margin-top: -299px;
		margin-right: auto;
		margin-bottom: 67px;
	}
	.u-section-5 .u-shape-3 {
		height: 268px;
		width: 289px;
		margin-right: 110px;
	}
	.u-section-5 .u-image-3 {
		width: 317px;
		height: 294px;
		margin: -335px 171px 41px auto;
	}
	.u-section-5 .u-container-layout-6 {
		padding-left: 19px;
		padding-right: 19px;
	}
}

@media (max-width: 767px) {
	.u-section-5 .u-sheet-1 {
		min-height: 1347px;
	}
	.u-section-5 .u-layout-wrap-1 {
		margin-bottom: 18px;
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-5 .u-layout-cell-1 {
		min-height: 403px;
	}
	.u-section-5 .u-shape-1 {
		height: 289px;
		width: 299px;
		margin-top: 66px;
		margin-right: 30px;
		margin-left: auto;
	}
	.u-section-5 .u-image-1 {
		width: 308px;
		height: 263px;
		margin-top: -325px;
		margin-left: 116px;
	}
	.u-section-5 .u-layout-cell-2 {
		min-height: 194px;
	}
	.u-section-5 .u-container-layout-2 {
		padding-left: 14px;
		padding-right: 14px;
	}
	.u-section-5 .u-container-layout-3 {
		padding-left: 14px;
		padding-right: 14px;
	}
	.u-section-5 .u-layout-cell-4 {
		min-height: 353px;
	}
	.u-section-5 .u-shape-2 {
		height: 286px;
		width: 289px;
		margin-top: 37px;
		margin-right: 40px;
	}
	.u-section-5 .u-image-2 {
		width: 308px;
		margin-top: -323px;
		margin-left: 116px;
	}
	.u-section-5 .u-layout-cell-5 {
		min-height: 318px;
	}
	.u-section-5 .u-shape-3 {
		height: 256px;
		margin-top: 37px;
		margin-right: 85px;
		margin-left: 211px;
		width: 244px;
	}
	.u-section-5 .u-image-3 {
		width: 308px;
		height: 263px;
		margin-top: -293px;
		margin-left: 116px;
		margin-right: 81px;
	}
	.u-section-5 .u-container-layout-6 {
		padding-left: 14px;
		padding-right: 14px;
	}
}

@media (max-width: 575px) {
	.u-section-5 .u-sheet-1 {
		min-height: 657px;
	}
	.u-section-5 .u-layout-wrap-1 {
		margin-bottom: 60px;
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-5 .u-layout-cell-1 {
		min-height: 322px;
	}
	.u-section-5 .u-shape-1 {
		height: 226px;
		margin-top: 67px;
		margin-right: 0;
		margin-left: 49px;
		width: 291px;
	}
	.u-section-5 .u-image-1 {
		margin-top: -294px;
		margin-left: 0;
	}
	.u-section-5 .u-layout-cell-2 {
		min-height: 215px;
	}
	.u-section-5 .u-container-layout-2 {
		padding-left: 9px;
		padding-right: 9px;
	}
	.u-section-5 .u-container-layout-3 {
		padding-left: 9px;
		padding-right: 9px;
	}
	.u-section-5 .u-layout-cell-4 {
		min-height: 322px;
	}
	.u-section-5 .u-shape-2 {
		height: 226px;
		margin-top: 67px;
		margin-right: 0;
		margin-left: 49px;
		width: 291px;
	}
	.u-section-5 .u-image-2 {
		margin-top: -294px;
		margin-left: 0;
	}
	.u-section-5 .u-layout-cell-5 {
		min-height: 322px;
	}
	.u-section-5 .u-shape-3 {
		height: 226px;
		margin-top: 67px;
		margin-right: 0;
		margin-left: 49px;
		width: 291px;
	}
	.u-section-5 .u-image-3 {
		width: 293px;
		margin-top: -294px;
		margin-left: 0;
		margin-right: 51px;
	}
	.u-section-5 .u-container-layout-6 {
		padding-left: 9px;
		padding-right: 9px;
	}
}

.u-section-6 {
	background-image: none;
}

.u-section-6 .u-sheet-1 {
	min-height: 485px;
}

.u-section-6 .u-layout-wrap-1 {
	margin: 70px auto 44px 0;
}

.u-section-6 .u-image-1 {
	min-height: 674px;
	background-image: url("images/d2a86e6592da30d41eecfb9ff1be32d2.jpg");
	background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-group-1 {
	width: 414px;
	min-height: 73px;
	margin-top: 571px;
	margin-right: auto;
	margin-left: 0;
	background-image: none;
}

.u-section-6 .u-container-layout-2 {
	padding-left: 20px;
	padding-right: 20px;
}

.u-section-6 .u-text-1 {
	position: relative;
	margin: 5px 0;
}

.u-section-6 .u-layout-cell-2 {
	background-image: none;
	min-height: 344px;
}

.u-section-6 .u-container-layout-3 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-1 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-link-1 {
	margin: 29px auto 30px;
}

.u-section-6 .u-layout-cell-3 {
	background-image: none;
	min-height: 344px;
}

.u-section-6 .u-container-layout-4 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-2 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-link-2 {
	margin: 29px auto 30px;
}

.u-section-6 .u-layout-cell-4 {
	min-height: 330px;
	background-image: none;
}

.u-section-6 .u-container-layout-5 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-3 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-4 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-link-3 {
	margin: 29px auto 30px;
}

.u-section-6 .u-layout-cell-5 {
	min-height: 330px;
	background-image: none;
}

.u-section-6 .u-container-layout-6 {
	padding-left: 0;
	padding-right: 0;
}

.u-section-6 .u-icon-4 {
	height: 64px;
	width: 64px;
	position: relative;
	margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
	position: relative;
	margin: 30px 20px 0;
}

.u-section-6 .u-link-4 {
	margin: 29px auto 30px;
}

@media (max-width: 1199px) {
	.u-section-6 .u-layout-wrap-1 {
		margin-right: initial;
		margin-left: initial;
	}
	.u-section-6 .u-group-1 {
		width: 341px;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 16px;
		padding-right: 16px;
	}
	.u-section-6 .u-icon-1 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 16px;
		margin-right: 16px;
	}
	.u-section-6 .u-icon-2 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 16px;
		margin-right: 16px;
	}
	.u-section-6 .u-icon-3 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 16px;
		margin-right: 16px;
	}
	.u-section-6 .u-icon-4 {
		height: 53px;
		width: 53px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 16px;
		margin-right: 16px;
	}
}

@media (max-width: 991px) {
	.u-section-6 .u-group-1 {
		width: 367px;
		margin-bottom: 0;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 13px;
		padding-right: 13px;
	}
	.u-section-6 .u-icon-1 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 13px;
		margin-right: 13px;
	}
	.u-section-6 .u-icon-2 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 13px;
		margin-right: 13px;
	}
	.u-section-6 .u-icon-3 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 13px;
		margin-right: 13px;
	}
	.u-section-6 .u-icon-4 {
		height: 40px;
		width: 40px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 13px;
		margin-right: 13px;
	}
}

@media (max-width: 767px) {
	.u-section-6 .u-group-1 {
		width: 323px;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 9px;
		padding-right: 9px;
	}
	.u-section-6 .u-icon-1 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 9px;
		margin-right: 9px;
	}
	.u-section-6 .u-icon-2 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 9px;
		margin-right: 9px;
	}
	.u-section-6 .u-icon-3 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 9px;
		margin-right: 9px;
	}
	.u-section-6 .u-icon-4 {
		height: 38px;
		width: 38px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 9px;
		margin-right: 9px;
	}
}

@media (max-width: 575px) {
	.u-section-6 .u-group-1 {
		margin-right: initial;
		margin-left: initial;
		width: auto;
	}
	.u-section-6 .u-container-layout-2 {
		padding-left: 6px;
		padding-right: 6px;
	}
	.u-section-6 .u-icon-1 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-2 {
		margin-left: 6px;
		margin-right: 6px;
	}
	.u-section-6 .u-icon-2 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-3 {
		margin-left: 6px;
		margin-right: 6px;
	}
	.u-section-6 .u-icon-3 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-4 {
		margin-left: 6px;
		margin-right: 6px;
	}
	.u-section-6 .u-icon-4 {
		height: 32px;
		width: 32px;
	}
	.u-section-6 .u-text-5 {
		margin-left: 6px;
		margin-right: 6px;
	}
}